<div class="dev-info-details section_editable">
    <table class="iadata">
        <tr>
            <td id="id"><strong>Id:</strong></td>
            <td>{{id}}</td>
        </tr>
        <tr>
            <td id="templates"><strong>Templates:</strong></td>
            <td>
                list of templates here, if any, or
                default for {{repo}}
            </td>
        </tr>
        {{#if code}}     
            <tr>
                <td><strong>Code:</strong></td>
                <td>
                    {{#each code}}
                        <li name="code" class="code editable"><input type="text" value="{{this}}" /></li>
                    {{/each}}
                </td>
            </tr>
        {{/if}}
        <tr>
            <td id="credits"><strong>Credits:</strong></td>
            <td>
                {{#each attribution}}
                    <li><a href="{{this.0.loc}}">{{this.0.type}}</a></li>
                {{/each}}
            </td>
        </tr>
    </table>

    <div class="button end left">OK</div>
    <div class="button cancel left" name="devinfo">Cancel</div>
</div>
