<table>

<thead style="border-bottom: 1px solid #CCC">
<tr>
<td> </td>
<td>
    <a id="sort_name">name</a>
</td>

<td>
    <a id="sort_descr">description</a>
</td>
<td>
    <a id="sort_src">source</a>
</td>
<td>
    <a id="sort_status">status</a>
</td>
<td>
    topics
</td>

<td>
    <a id="sort_repo">repo</a>
</td>
</tr>
</thead>

<tbody>



{{#each ia}}
<tr>

    <td style="width:2em; text-align:right; padding-right:1em;">
        {{@index}}
    </td>

    <td>
        <a href="/ia/view/{{id}}">{{name}}</a>
    </td>

    <td>
        {{description}}
    </td>
    <td class="ia_src_column">
        {{src_name}}
    </td>

    <td style="padding-right: 1em">
        {{dev_milestone}}
    </td>

    <td>
        {{#each topic}} <span class="ia_topic">{{this}}</span> {{/each}}
    </td>


    <td style="padding-right: 1em">
        {{repo}}
    </td>

</tr>
{{/each}}

</tbody>

</table>
