<hr>

<p class="left"><strong>Issues</strong></p>

<div class="right button new-issue">
    <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/new?&title=issue+title&body=http%3A%2F%2Fduck.co%2Fia%2Fview%2F{{id}}">
        + Add an Issue
    </a>
</div>
<span class="clearfix"></span>

{{#each issues}}
<a href="https://github.com/duckduckgo/zeroclickinfo-{{../repo}}/issues/{{issue_id}}">{{title}}</a>
{{/each}}
