<div class="dev-info-details" id="code">
    <table class="iadata">
        <tr>
            <td><strong>Id:</strong></td>
            <td>{{id}}</td>
        </tr>
        <tr>
            <td><strong>Code:</strong></td>
            <td>
                {{#if code}}
                    {{#each code}}
                        <li class="pre_edit" name="code">{{this}}</li>
                    {{/each}}
                {{else}}
                    <span class="empty_field pre_edit" name="code">
                        Add code sources
                    </span>
                {{/if}}
            </td>
        </tr>
        <tr>
            <td><strong>Credits:</strong></td>
            <td>
                {{#if attribution}}
                    {{#each attribution}}
                        <li><a href="{{this.0.loc}}">{{this.0.type}}</a></li>
                    {{/each}}
                {{else}}
                    <span class="empty_field">
                        Add attribution
                    </span>
                {{/if}}
            </td>
        </tr>
    </table>
</div>
