{{#if repo}}
{{#is_true permissions.can_edit}}
    {{#ne_and dev_milestone 'live' 'deprecated'}}
    <div class="ia-single--details {{#ne_and dev_milestone 'live' 'deprecated'}}wicked-border{{/ne_and}}" tabindex="0" id="ia-single--details">
        <h3 class="ia-single--header">Details
            <a href="#" class="devpage-commit-details sep--after {{#unless staged.details}}hide{{/unless}}" id="devpage-commit-details">Commit Changes</a>
            <a href="#" class="devpage-cancel-details {{#unless staged.details}}hide{{/unless}}" id="devpage-cancel-details">Revert All</a>
        </h3>

        <div class="section-group" {{#eq repo 'spice'}}id="answerbar-group"{{/eq}} {{#eq repo 'fathead'}}id="src_options-group"{{/eq}}>

        <!-- Spice -->
        {{#eq repo 'spice'}}
            <div class="gw">
                <div class="twothirds g">
                    <label class="details__label">
                        <span {{#ne_and dev_milestone 'live' 'deprecated'}}class="asterisk"{{/ne_and}}>Perl Module</span>
                    </label>
                    <input type="text" class="js-autocommit frm__input perl_module" id="perl_module-input" value="{{#if staged.details.perl_module}}{{staged.details.perl_module}}{{else}}{{perl_module}}{{/if}}">
                </div>
                <div class="third g">
                    <label class="details__label">
                        Template
                    </label>
                    <input type="text" class="js-autocommit frm__input template" id="template-input" value="{{#if staged.details.template}}{{staged.details.template}}{{else}}{{template}}{{/if}}">
                </div>
            </div>

            <div class="gw">
                <div class="twothirds g">
                    <label class="details__label">
                        Perl Dependencies
                    </label>
                    <input type="text" value="{{#if staged.details.perl_dependencies}}{{staged.details.perl_dependencies}}{{else}}{{perl_dependencies}}{{/if}}" class="comma-separated js-autocommit frm__input perl_dependencies" id="perl_dependencies-input">
                </div>
                {{#is_true permissions.admin}}
                    <div class="third g">
                        <label class="details__label">
                            Tab Name
                        </label>
                        <input type="text" value="{{#if staged.details.tab}}{{staged.details.tab}}{{else}}{{tab}}{{/if}}" class="js-autocommit frm__input tab" id="tab-input">
                    </div>
                {{/is_true}}
            </div>

            <div class="gw">
                <div class="third g">
                    <label class="details__label">
                        API Documentation
                    </label>
                    <input type="text" value="{{#if staged.details.src_api_documentation}}{{staged.details.src_api_documentation}}{{else}}{{src_api_documentation}}{{/if}}" class="js-autocommit frm__input src_api_documentation" id="src_api_documentation-input">
                </div>

                <div class="third g">
                    <label class="details__label">
                        API Status Page
                    </label>
                    <input type="text" value="{{#if staged.details.api_status_page}}{{staged.details.api_status_page}}{{else}}{{api_status_page}}{{/if}}" class="js-autocommit frm__input api_status_page" id="api_status_page-input">
                </div>

                <div class="third g">
                    <ul>
                        <li>
                            <label class="details__label">Fallback Timeout (ms):</label>
                            <input type="number" value="{{#if staged.details.answerbar.fallback_timeout}}{{staged.details.answerbar.fallback_timeout}}{{else}}{{answerbar.fallback_timeout}}{{/if}}" id="fallback_timeout-input" class="js-autocommit frm__input fallback_timeout section-group__item">
                        </li>
                    </ul>
                </div>
            </div>
        {{/eq}}

        <!-- Goodies -->
        {{#eq repo 'goodies'}}
            <div class="gw">
                <div class="twothirds g">
                    <label class="details__label">
                        <span {{#ne_and dev_milestone 'live' 'deprecated'}}class="asterisk"{{/ne_and}}>Perl Module</span>
                    </label>
                    <input type="text" class="js-autocommit frm__input perl_module" id="perl_module-input" value="{{#if staged.details.perl_module}}{{staged.details.perl_module}}{{else}}{{perl_module}}{{/if}}">
                </div>
                <div class="third g">
                    <label class="details__label">
                        Template
                    </label>
                    <input type="text" class="js-autocommit frm__input template" id="template-input" value="{{#if staged.details.template}}{{staged.details.template}}{{else}}{{template}}{{/if}}">
                </div>
            </div>

            <div class="gw">
                <div class="twothirds g">
                    <label class="details__label">
                        Perl Dependencies
                    </label>
                    <input type="text" value="{{#if staged.details.perl_dependencies}}{{staged.details.perl_dependencies}}{{else}}{{perl_dependencies}}{{/if}}" class="comma-separated js-autocommit frm__input perl_dependencies" id="perl_dependencies-input">
                </div>
                {{#is_true permissions.admin}}
                    <div class="third g">
                        <label class="details__label">
                            Tab Name
                        </label>
                        <input type="text" value="{{#if staged.details.tab}}{{staged.details.tab}}{{else}}{{tab}}{{/if}}" class="js-autocommit frm__input tab" id="tab-input">
                    </div>
                {{/is_true}}
            </div>
        {{/eq}}

        {{#eq repo 'fathead'}}
            <div class="gw">
                <div class="twothird g">
                    <div>
                        <label class="details__label">
                            <span class="{{#ne_and dev_milestone 'live' 'deprecated'}}asterisk{{/ne_and}}">Perl Module</span>
                        </label>
                        <input type="text" class="js-autocommit frm__input perl_module" id="perl_module-input" value="{{#if staged.details.perl_module}}{{staged.details.perl_module}}{{else}}{{perl_module}}{{/if}}">
                    </div>
                    <div>
                        <label class="details__label">
                            Template
                        </label>
                        <input type="text" class="js-autocommit frm__input template" id="template-input" value="{{#if staged.details.template}}{{staged.details.template}}{{else}}{{template}}{{/if}}">
                    </div>

                    <div class="half">
                        <label  class="details__label">
                            Source ID
                        </label>
                        <input type="number" value="{{#if staged.details.src_id}}{{staged.details.src_id}}{{else}}{{src_id}}{{/if}}" class="js-autocommit frm__input src_id" id="src_id-input">
                    </div>
                    <div class="half g">
                        <label class="details__label">
                            Directory
                        </label>
                        <input type="text" value="{{#if staged.details.directory}}{{staged.details.directory}}{{else}}{{src_options.directory}}{{/if}}" class="js-autocommit frm__input directory clearfix section-group__item" id="directory-input">
                    </div>
                </div>
                <div class="third g">
                    <label class="details__label">
                        Options
                    </label>
                    <ul>
                        <li>
                            <label class="frm__label">
                                <input id="skip_abstract-check" class="skip_abstract section-group__item frm__label__chk js-autocommit" type="checkbox" {{#if staged.details.skip_abstract}}{{#is_true staged.details.skip_abstract}}checked="checked"{{/is_true}}{{else}}{{#is_true src_options.skip_abstract}}checked="checked"{{/is_true}}{{/if}}>
                                <span class="frm__label__txt">Skip Abstract</span>
                            </label>
                        </li>
                        <li>
                            <label class="frm__label">
                                <input id="skip_abstract_paren-check" class="skip_abstract_paren section-group__item frm__label__chk js-autocommit" type="checkbox" {{#if staged.details.skip_abstract_paren}}{{#is_true staged.details.skip_abstract_paren}}checked="checked"{{/is_true}}{{else}}{{#is_true src_options.skip_abstract_paren}}checked="checked"{{/is_true}}{{/if}}>
                                <span class="frm__label__txt">Skip Abstract Parent</span>
                            </label>
                        </li>
                        <li>
                            <label class="frm__label">
                                <input id="skip_icon-check" class="skip_icon section-group__item frm__label__chk js-autocommit" type="checkbox" {{#if staged.details.skip_icon}}{{#is_true staged.details.skip_icon}}checked="checked"{{/is_true}}{{else}}{{#is_true src_options.skip_icon}}checked="checked"{{/is_true}}{{/if}}>
                                <span class="frm__label__txt">Skip Icon</span>
                            </label>
                        </li>
                        <li>
                            <label class="frm__label">
                                <input id="skip_image_name-check" class="skip_image_name section-group__item frm__label__chk js-autocommit" type="checkbox" {{#if staged.details.skip_image_name}}{{#is_true staged.details.skip_image_name}}checked="checked"{{/is_true}}{{else}}{{#is_true src_options.skip_image_name}}checked="checked"{{/is_true}}{{/if}}>
                                <span class="frm__label__txt">Skip Image Name</span>
                            </label>
                        </li>
                        <li>
                            <label class="frm__label">
                                <input id="is_wikipedia-check" class="is_wikipedia section-group__item frm__label__chk js-autocommit" type="checkbox" {{#if staged.details.is_wikipedia}}{{#is_true staged.details.is_wikipedia}}checked="checked"{{/is_true}}{{else}}{{#is_true src_options.is_wikipedia}}checked="checked"{{/is_true}}{{/if}}>
                                <span class="frm__label__txt">Is Wikipedia</span>
                            </label>
                        </li>
                        <li>
                            <label class="frm__label">
                                <input id="is_mediawiki-check" class="is_mediawiki section-group__item frm__label__chk js-autocommit" type="checkbox" {{#if staged.details.is_mediawiki}}{{#is_true staged.details.is_mediawiki}}checked="checked"{{/is_true}}{{else}}{{#is_true src_options.is_mediawiki}}checked="checked"{{/is_true}}{{/if}}>
                                <span class="frm__label__txt">Is MediaWiki</span>
                            </label>
                        </li>
                        <li>
                            <label class="frm__label">
                                <input id="is_fanon-check" class="is_fanon section-group__item frm__label__chk js-autocommit" type="checkbox" {{#if staged.details.is_fanon}}{{#is_true staged.details.is_fanon}}checked="checked"{{/is_true}}{{#is_true src_options.is_fanon}}checked="checked"{{/is_true}}{{/if}}>
                                <span class="frm__label__txt">Is Fanon</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="gw">
                <div class="third g">
                    <label class="details__label">
                        Source Name
                    </label>
                    <input type="text" value="{{#if staged.details.src_name}}{{staged.details.src_name}}{{else}}{{src_name}}{{/if}}" class="js-autocommit frm__input src_name" id="src_name-input">
                </div>

                <div class="third g">
                    <label class="details__label">
                        Minimum Abstract Length
                    </label>
                    <input type="number" step="1" value="{{#if staged.details.min_abstract_length}}{{staged.details.min_abstract_length}}{{else}}{{src_options.min_abstract_length}}{{/if}}" class="js-autocommit frm__input min_abstract_length clearfix section-group__item" id="min_abstract_length-input">
                </div>

                <div class="third g">
                    <label class="details__label">
                        Source Skip
                    </label>
                    <input type="text" value="{{#if staged.details.src_skip}}{{staged.details.src_skip}}{{else}}{{src_options.src_skip}}{{/if}}" class="js-autocommit frm__input src_skip clearfix section-group__item" id="src_skip-input">
                </div>
            </div>
            <div class="gw">
                <div class="third g">
                    <label class="details__label">
                        Source Domain
                    </label>
                    <input type="text" value="{{#if staged.details.src_domain}}{{staged.details.src_domain}}{{else}}{{src_domain}}{{/if}}" class="js-autocommit frm__input src_domain" id="src_domain-input">
                </div>
                <div class="third g">
                    <label class="details__label">
                        Language
                    </label>
                    <input type="text" value="{{#if staged.details.language}}{{staged.details.language}}{{else}}{{src_options.language}}{{/if}}" class="js-autocommit frm__input language clearfix section-group__item" id="language-input">
                </div>
                <div class="third g">
                    <label class="details__label">
                        Source Info
                    </label>
                    <input type="text" value="{{#if staged.details.src_info}}{{staged.details.src_info}}{{else}}{{src_options.src_info}}{{/if}}" class="js-autocommit frm__input src_info clearfix section-group__item" id="src_info-input">
                </div>
            </div>
            <div>
                <label class="details__label">
                    Skip Query
                </label>
                <input type="text" value="{{#if staged.details.skip_qr}}{{staged.details.skip_qr}}{{else}}{{src_options.skip_qr}}{{/if}}" class="js-autocommit frm__input skip_qr clearfix section-group__item" id="skip_qr">
            </div>
        {{/eq}}

        <!-- Longtail -->
        {{#eq repo 'longtail'}}
            <div class="gw">
                <div class="twothirds g">
                    <label class="details__label">
                        <span {{#ne_and dev_milestone 'live' 'deprecated'}}class="asterisk"{{/ne_and}}>Perl Module</span>
                    </label>
                    <input type="text" class="js-autocommit frm__input perl_module" id="perl_module-input" value="{{#if staged.details.perl_module}}{{staged.details.perl_module}}{{else}}{{perl_module}}{{/if}}">
                </div>
                <div class="third g">
                    <label class="details__label">
                        Template
                    </label>
                    <input type="text" class="js-autocommit frm__input template" id="template-input" value="{{#if staged.details.template}}{{staged.details.template}}{{else}}{{template}}{{/if}}">
                </div>
            </div>

            <div class="gw">
                <div class="twothirds g">
                    <label class="details__label">
                        Perl Dependencies
                    </label>
                    <input type="text" value="{{#if staged.details.perl_dependencies}}{{staged.details.perl_dependencies}}{{else}}{{perl_dependencies}}{{/if}}" class="comma-separated js-autocommit frm__input perl_dependencies" id="perl_dependencies-input">
                </div>
                {{#is_true permissions.admin}}
                    <div class="third g">
                        <label class="details__label">
                            Tab Name
                        </label>
                        <input type="text" value="{{#if staged.details.tab}}{{staged.details.tab}}{{else}}{{tab}}{{/if}}" class="js-autocommit frm__input tab" id="tab-input">
                    </div>
                {{/is_true}}
            </div>

            <div class="gw">
                <div class="twothirds g">
                    <label class="details__label">
                        Source Domain
                    </label>
                    <input type="text" value="{{#if staged.details.src_domain}}{{staged.details.src_domain}}{{else}}{{src_domain}}{{/if}}" class="js-autocommit frm__input src_domain" id="src_domain-input">
                </div>
                <div class="third g">
                    <label class="details__label">
                        Is StackExchange
                    </label>
                    <label class="frm__label">
                        <input id="is_stackexchange-check" class="is_stackexchange frm__label__chk js-autocommit" type="checkbox" {{#if staged.details.is_stackexchange}}{{#is_true staged.details.is_stackexchange}}checked="checked"{{/is_true}}{{else}}{{#is_true is_stackexchange}}checked="checked"{{/is_true}}{{/if}}>
                        <span class="frm__label__txt">Is StackExchange</span>
                    </label>
                </div>
            </div>
        {{/eq}}

        </div>
    </div>
    {{/ne_and}}
{{/is_true}}
{{/if}}
