<div class="left third_dev_align">
    <div class="dev_milestone-container__header container-advanced__header">
        <h3 class="dev_milestone-container__header__title left">
            Data Source
        </h3>
        <span class="clearfix"></span>
    </div>

    <div class="dev_milestone-container__body container-advanced__body">
        {{#eq live.repo 'spice'}}
            <div class="dev_milestone-container__body__label ia-single--header">
                API DOCUMENTATION
            </div>
            {{#if permissions.can_edit}}
                <input type="text" data-panel="advanced" class="frm__input src_api_documentation dev_milestone-container__body__input js-autocommit" id="src_api_documentation-input" value="{{live.src_api_documentation}}" />
            {{else}}
                <div class="dev_milestone-container__body__readonly" id="src_api_documentation-txt">
                    {{#if live.src_api_documentation}}
                        {{live.src_api_documentation}}
                    {{else}}
                        none
                    {{/if}}
                </div>
            {{/if}}
            
            <div class="dev_milestone-container__body__label ia-single--header">
                API STATUS PAGE
            </div>
            {{#if permissions.can_edit}}
                <input type="text" data-panel="advanced" class="frm__input api_status_page dev_milestone-container__body__input js-autocommit" id="api_status_page-input" value="{{live.api_status_page}}" />
            {{else}}
                <div class="dev_milestone-container__body__readonly" id="api_status_page-txt">
                    {{#if live.api_status_page}}
                        {{live.api_status_page}}
                    {{else}}
                        none
                    {{/if}}
                </div>
            {{/if}}
        {{/eq}}

        {{#eq live.repo 'longtail'}}    
            <div class="dev_milestone-container__body__label ia-single--header">
                STACK EXCHANGE
            </div>
            <i data-panel="advanced" class="is_stackexchange dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.is_stackexchange}}-empty{{/is_false}}" id="is_stackexchange-check"/>
            <span class="dev_milestone-container__body__readonly check-txt">
                Is Stack Exchange
            </span>
        {{/eq}} 
           
        {{#eq_or live.repo 'fathead' 'longtail'}} 
            <div class="dev_milestone-container__body__label ia-single--header">
                SOURCE DOMAIN
            </div>
            {{#if permissions.can_edit}}
                <input type="text" data-panel="advanced" class="frm__input src_domain dev_milestone-container__body__input js-autocommit" id="src_domain-input" value="{{live.src_domain}}" />
            {{else}}
                <div class="dev_milestone-container__body__readonly" id="src_domain-txt">
                    {{#if live.src_domain}}
                        {{live.src_domain}}
                    {{else}}
                        none
                    {{/if}}
                </div>
            {{/if}}
            
        {{/eq_or}}

        {{#eq live.repo 'fathead'}}
            <div class="dev_milestone-container__body__label ia-single--header">
                SOURCE ID
            </div>
            {{#if permissions.can_edit}}
                <input type="number" data-panel="advanced" class="frm__input src_id dev_milestone-container__body__input js-autocommit" id="src_id-input" value="{{live.src_id}}" />
            {{else}}
                <div class="dev_milestone-container__body__readonly" id="src_id-txt">
                    {{#if live.src_id}}
                        {{live.src_id}}
                    {{else}}
                        none
                    {{/if}}
                </div>
            {{/if}}
            
           
            <div class="dev_milestone-container__body__label ia-single--header">
                SOURCE NAME
            </div>
            {{#if permissions.can_edit}}
                <input type="text" data-panel="advanced" class="frm__input src_name dev_milestone-container__body__input js-autocommit" id="src_name-input" value="{{live.src_name}}" />
            {{else}}
                <div class="dev_milestone-container__body__readonly" id="src_name-txt">
                    {{#if live.src_name}}
                        {{live.src_name}}
                    {{else}}
                        none
                    {{/if}}
                </div>
            {{/if}}
            

            <div class="dev_milestone-container__body__label ia-single--header">
                SOURCE OPTIONS
            </div>
            <div class="dev_milestone-container__body__div">
                <ul class="section-group" id="src_options-group">
                    <li>
                        <i data-panel="advanced" class="skip_abstract section-group__item dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.src_options.skip_abstract}}-empty{{/is_false}}" id="skip_abstract-check"/>
                        <span class="dev_milestone-container__body__readonly check-txt">
                            Skip abstract
                        </span>
                    </li>
                    <li>
                        <i data-panel="advanced" class="skip_abstract_paren section-group__item dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.src_options.skip_abstract_paren}}-empty{{/is_false}}" id="skip_abstract_paren-check"/>
                        <span class="dev_milestone-container__body__readonly check-txt">
                            Skip abstract parent
                        </span>
                    </li>
                    <li>
                        <i data-panel="advanced" class="skip_icon section-group__item dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.src_options.skip_icon}}-empty{{/is_false}}" id="skip_icon-check"/>
                        <span class="dev_milestone-container__body__readonly check-txt">
                            Skip icon
                        </span>
                    </li>
                    <li>
                        <i data-panel="advanced" class="skip_image_name section-group__item dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.src_options.skip_image_name}}-empty{{/is_false}}" id="skip_image_name-check"/>
                        <span class="dev_milestone-container__body__readonly check-txt">
                            Skip image name
                        </span>
                    </li>
                    <li>
                        <i data-panel="advanced" class="is_wikipedia section-group__item dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.src_options.is_wikipedia}}-empty{{/is_false}}" id="is_wikipedia-check"/>
                        <span class="dev_milestone-container__body__readonly check-txt">
                            Is Wikipedia
                        </span>
                    </li>
                    <li>
                        <i data-panel="advanced" class="is_mediawiki section-group__item dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.src_options.is_mediawiki}}-empty{{/is_false}}" id="is_mediawiki-check"/>
                        <span class="dev_milestone-container__body__readonly check-txt">
                            Is MediaWiki
                        </span>
                    </li>
                    <li>
                    <li>
                        <i data-panel="advanced" class="is_fanon section-group__item dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.src_options.is_fanon}}-empty{{/is_false}}" id="is_fanon-check"/>
                        <span class="dev_milestone-container__body__readonly check-txt">
                            Is Fanon
                        </span>
                    </li>
                    <li>
                        <label class="left">Source Skip:</label>
                        {{#if permissions.can_edit}}
                            <input type="text" data-panel="advanced" class="frm__input source_skip clearfix section-group__item dev_milestone-container__body__input js-autocommit" id="source_skip-input" value="{{live.src_options.source_skip}}" />
                        {{else}}
                            <div class="clearfix dev_milestone-container__body__readonly" id="source_skip-txt">
                                {{#if live.src_options.source_skip}}
                                    {{live.src_options.source_skip}}
                                {{else}}
                                    none
                                {{/if}}
                            </div>
                        {{/if}}
                    </li>
                        <label class="left">Skip query:</label>
                        {{#if permissions.can_edit}}
                            <input type="text" data-panel="advanced" class="frm__input skip_qr clearfix section-group__item dev_milestone-container__body__input js-autocommit" id="skip_qr-input" value="{{live.src_options.skip_qr}}" />
                        {{else}}
                            <div class="clearfix dev_milestone-container__body__readonly" id="skip_qr-txt">
                                {{#if live.src_options.skip_qr}}
                                    {{live.src_options.skip_qr}}
                                {{else}}
                                    none
                                {{/if}}
                            </div>
                        {{/if}}
                    </li>
                    <li>
                        <label class="left">Directory:</label>
                        {{#if permissions.can_edit}}
                            <input type="text" data-panel="advanced" class="frm__input directory clearfix section-group__item dev_milestone-container__body__input js-autocommit" id="directory-input" value="{{live.src_options.directory}}" />
                        {{else}}
                            <div class="clearfix dev_milestone-container__body__readonly" id="directory-txt">
                                {{#if live.src_options.directory}}
                                    {{live.src_options.directory}}
                                {{else}}
                                    none
                                {{/if}}
                            </div>
                        {{/if}}
                    </li>
                    <li>
                        <label class="left">Minimum abstract length:</label>
                        {{#if permissions.can_edit}}
                            <input type="number" step="1" data-panel="advanced" class="frm__input min_abstract_length clearfix section-group__item dev_milestone-container__body__input js-autocommit" id="min_abstract_length-input" value="{{live.src_options.min_abstract_length}}" />
                        {{else}}
                            <div class="clearfix dev_milestone-container__body__readonly" id="min_abstract_length-txt">
                                {{#if live.src_options.min_abstract_length}}
                                    {{live.src_options.min_abstract_length}}
                                {{else}}
                                    none
                                {{/if}}
                            </div>
                        {{/if}}
                    </li>
                    <li>
                        <label class="left">Source info:</label>
                        {{#if permissions.can_edit}}
                            <input type="text" data-panel="advanced" class="frm__input src_info clearfix section-group__item dev_milestone-container__body__input js-autocommit" id="src_info-input" value="{{live.src_options.src_info}}" />
                        {{else}}
                            <div class="clearfix dev_milestone-container__body__readonly" id="src_info-txt">
                                {{#if live.src_options.src_info}}
                                    {{live.src_options.src_info}}
                                {{else}}
                                    none
                                {{/if}}
                            </div>
                        {{/if}}
                    </li>
                    <li>
                        <label class="left">Language:</label>
                        {{#if permissions.can_edit}}
                            <input type="text" data-panel="advanced" class="frm__input language clearfix section-group__item dev_milestone-container__body__input js-autocommit" id="language-input" value="{{live.src_options.language}}" />
                        {{else}}
                            <div class="clearfix dev_milestone-container__body__readonly" id="language-txt">
                                {{#if live.src_options.language}}
                                    {{live.src_options.language}}
                                {{else}}
                                    none
                                {{/if}}
                            </div>
                        {{/if}}
                    </li>
                </ul>
            </div>
        {{/eq}}
    </div>
</div>
<div class="left third_dev_align">
    <div class="dev_milestone-container__header container-advanced__header">
        <h3 class="dev_milestone-container__header__title left">
            Back-End
        </h3>
        <span class="clearfix"></span>
    </div>

    <div class="dev_milestone-container__body container-advanced__body">
        <div class="dev_milestone-container__body__label ia-single--header">
            PERL MODULE
        </div>
        {{#if permissions.can_edit}}
            <input data-panel="advanced" type="text" class="frm__input perl_module dev_milestone-container__body__input js-autocommit" id="perl_module-input" value="{{live.perl_module}}" />
        {{else}}
            <div class="dev_milestone-container__body__readonly" id="perl_module-txt">
                {{#if live.perl_module}}
                    {{live.perl_module}}
                {{else}}
                    none
                {{/if}}
            </div>
        {{/if}}
    
        <div class="dev_milestone-container__body__label ia-single--header">
            PERL DEPENDENCIES
        </div>
        {{#if permissions.can_edit}}
            <input data-panel="advanced" type="text" class="frm__input perl_dependencies dev_milestone-container__body__input js-autocommit comma-separated" id="perl_dependencies-input" value="{{live.perl_dependencies}}" />
        {{else}}
            <div class="dev_milestone-container__body__readonly" id="perl_dependencies-txt">
               {{#if live.perl_dependencies}}
                  {{#each live.perl_dependencies}}
                    {{this}}{{#unless @last}}, {{/unless}}
                  {{/each}}
               {{else}}
                 none
               {{/if}}
            </div>
        {{/if}}
    </div>
</div>

<div class="left third_dev_align">
    <div class="dev_milestone-container__header container-advanced__header">
        <h3 class="dev_milestone-container__header__title left">
            Front-End
        </h3>
        <span class="clearfix"></span>
    </div>

    <div class="dev_milestone-container__body container-advanced__body">
        <div class="dev_milestone-container__body__label ia-single--header">
            TEMPLATE
        </div>
        {{#if permissions.can_edit}}
            <input data-panel="advanced" type="text" class="frm__input template dev_milestone-container__body__input js-autocommit" id="template-input" value="{{live.template}}" />
        {{else}}
            <div class="dev_milestone-container__body__readonly" id="template-txt">
                {{#if live.template}}
                   {{live.template}} 
                {{else}}
                    none
                {{/if}}
            </div>
        {{/if}}


        {{#eq live.repo 'spice'}}
            <div class="dev_milestone-container__body__label ia-single--header">
                ANSWERBAR
            </div>
            <div class="dev_milestone-container__body__div">
                <ul class="section-group" id="answerbar-group">
                    <li>
                        <label class="left">Fallback Timeout (ms):</label>
                        {{#if permissions.admin}}
                            <input type="number" data-panel="advanced" class="frm__input answerbar clearfix section-group__item dev_milestone-container__body__input js-autocommit" id="fallback_timeout-input" value="{{live.answerbar.fallback_timeout}}" />
                        {{else}}
                            <div class="clearfix dev_milestone-container__body__readonly" id="fallback_timeout-txt">
                                {{#if live.answerbar.fallback_timeout}}
                                    {{live.answerbar.fallback_timeout}}
                                {{else}}
                                    none
                                {{/if}}
                            </div>
                        {{/if}}
                    </li>
                </ul>
            </div>
        {{/eq}}
    </div>
</div>
<span class="clearfix"></span>

