<h2>{{original.name}} - Staged Edits</h2>
<p>Click on the version you want to commit for each field</p>
<table class="staged_edits">
    <thead>
        <tr>
            <th class="empty_th"></th>
            <th>Live</th>
            <th>Edited</th>
         </tr>
    </thead>
    
    <tbody>
        {{#not_null name}}
            <tr class="updates_list">
                <th>Name</th>

                <td name="name" id="name_original">
                    {{original.name}}
                </td>
                <td name="name">{{name}}</td>
            </tr>
        {{/not_null}}
        
        {{#not_null id}}
            <tr class="updates_list">
                <th>ID</th>

                <td name="id" id="id_original">
                    {{original.id}}
                </td>
                <td name="id">{{id}}</td>
            </tr>
        {{/not_null}}

        {{#not_null status}}
            <tr class="updates_list">
                <th>Status</th>

                <td name="status" id="status_original">
                    {{original.status}}
                </td>
                <td name="status">{{status}}</td>
            </tr>
        {{/not_null}}

        {{#not_null description}}
            <tr class="updates_list">
                <th>Description</th>

                <td name="description"  id="description_original">
                    {{original.description}}
                </td>
                <td name="description">
                    {{description}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null repo}}
            <tr class="updates_list">
                <th>Type</th>

                <td name="repo"  id="repo_original">
                    {{original.repo}}
                </td>
                <td name="repo">
                    {{repo}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null production_state}}
            <tr class="updates_list">
                <th>Production State</th>

                <td name="production_state"  id="production_state_original">
                    {{original.production_state}}
                </td>
                <td name="production_state">
                    {{production_state}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null template}}
            <tr class="updates_list">
                <th>Template</th>

                <td name="template"  id="template_original">
                    {{original.template}}
                </td>
                <td name="template">
                    {{template}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null src_api_documentation}}
            <tr class="updates_list">
                <th>API Documentation</th>

                <td name="src_api_documentation"  id="src_api_documentation_original">
                    {{original.src_api_documentation}}
                </td>
                <td name="src_api_documentation">
                    {{src_api_documentation}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null api_status_page}}
            <tr class="updates_list">
                <th>API Status Page</th>

                <td name="api_status_page"  id="api_status_page_original">
                    {{original.api_status_page}}
                </td>
                <td name="api_status_page">
                    {{api_status_page}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null is_stackexchange}}
            <tr class="updates_list">
                <th>Is Stack Exchange</th>

                <td name="is_stackexchange"  id="is_stackexchange_original">
                    {{original.is_stackexchange}}
                </td>
                <td name="is_stackexchange">
                    {{is_stackexchange}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null unsafe}}
            <tr class="updates_list">
                <th>Unsafe</th>

                <td name="unsafe"  id="unsafe_original">
                    {{#if original.unsafe}}1{{else}}0{{/if}}
                </td>
                <td name="unsafe">
                    {{unsafe}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null answerbar.fallback_timeout}}
            <tr class="updates_list">
                <th>Answerbar</th>

                <td name="answerbar"  id="answerbar_original">
                    {{original.answerbar.fallback_timeout}}
                </td>
                <td name="answerbar">
                    {{answerbar.fallback_timeout}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null tab}}
            <tr class="updates_list">
                <th>Tab</th>

                <td name="tab"  id="tab_original">
                    {{original.tab}}
                </td>
                <td name="tab">
                    {{tab}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null producer}}
            <tr class="updates_list">
                <th>Producer</th>

                <td name="producer"  id="producer_original">
                    {{original.producer}}
                </td>
                <td name="producer">
                    {{producer}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null maintainer}}
            <tr class="updates_list">
                <th>Maintainer</th>

                <td name="maintainer"  id="maintainer_original">
                    {{#if original.maintainer}}
                        {{#if original.maintainer.github}}
                            <a href="https://duckduckhack.com/u/{{slug original.maintainer.github}}">{{original.maintainer.github}}</a>
                        {{/if}}
                    {{/if}}
                </td>
                <td name="maintainer">
                    {{#if maintainer}}
                        {{#if maintainer.github}}
                            <a href="https://duckduckhack.com/u/{{slug maintainer.github}}">{{maintainer.github}}</a>
                        {{/if}}
                    {{/if}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null designer}}
            <tr class="updates_list">
                <th>Designer</th>

                <td name="designer"  id="designer_original">
                    {{original.designer}}
                </td>
                <td name="designer">
                    {{designer}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null developer}}
            <tr class="updates_list">
                <th>Developer</th>

                <td name="developer"  id="developer_original">
                    {{#each original.developer}}
                        <li data-type="{{type}}">
                            <a href="{{#eq type 'github'}}https://duckduckhack.com/u/{{slug name}}{{else}}{{url}}{{/eq}}">
                                {{name}}
                            </a>
                        </li>
                    {{/each}}
                </td>
                <td name="developer">
                    {{#each developer}}
                        <li data-type="{{type}}">
                            <a href="{{#eq type 'github'}}https://duckduckhack.com/u/{{slug name}}{{else}}{{url}}{{/eq}}">
                                {{name}}
                            </a>
                        </li>
                    {{/each}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null perl_module}}
            <tr class="updates_list">
                <th>Perl Module</th>

                <td name="perl_module"  id="perl_module_original">
                    {{original.perl_module}}
                </td>
                <td name="perl_module">
                    {{perl_module}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null topic}}
            <tr class="updates_list">
                <th>Topic</th>

                <td name="topic"  id="topic_original">
                    {{#each original.topic}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
                <td name="topic">
                    {{#each topic}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null example_query}}
            <tr class="updates_list">
                <th>Example Query</th>

                <td name="example_query"  id="example_query_original">
                    {{original.example_query}}
                </td>
                <td name="example_query">
                    {{example_query}}
                </td>
            </tr>
        {{/not_null}}

       {{#not_null other_queries}}
            <tr class="updates_list">
                <th>Other Queries</th>

                <td name="other_queries"  id="other_queries_original">
                    {{#each original.other_queries}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
                <td name="other_queries">
                    {{#each other_queries}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
            </tr>
        {{/not_null}}

       {{#not_null triggers}}
            <tr class="updates_list">
                <th>Trigger Words</th>

                <td name="triggers"  id="triggers_original">
                    {{#each original.triggers}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
                <td name="triggers">
                    {{#each triggers}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
            </tr>
        {{/not_null}}

       {{#not_null perl_dependencies}}
            <tr class="updates_list">
                <th>Perl Dependencies</th>

                <td name="perl_dependencies"  id="perl_dependencies_original">
                    {{#each original.perl_dependencies}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
                <td name="perl_dependencies">
                    {{#each perl_dependencies}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null src_id}}
            <tr class="updates_list">
                <th>Source ID</th>

                <td name="src_id"  id="src_id_original">
                    {{original.src_id}}
                </td>
                <td name="src_id">
                    {{src_id}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null src_name}}
            <tr class="updates_list">
                <th>Source Name</th>

                <td name="src_name"  id="src_name_original">
                    {{original.src_name}}
                </td>
                <td name="src_name">
                    {{src_name}}
                </td>
            </tr>
        {{/not_null}}

        {{#not_null src_url}}
            <tr class="updates_list">
                <th>Data Source</th>

                <td name="src_url"  id="src_url_original">
                    {{original.src_url}}
                </td>
                <td name="src_url">
                    {{src_url}}
                </td>
            </tr>
        {{/not_null}}
        
        {{#not_null src_domain}}
            <tr class="updates_list">
                <th>Source Domain</th>

                <td name="src_domain"  id="src_domain_original">
                    {{original.src_domain}}
                </td>
                <td name="src_domain">
                    {{src_domain}}
                </td>
            </tr>
        {{/not_null}}

       {{#not_null src_options}}
            <tr class="updates_list">
                <th>Source Options</th>

                <td name="src_options"  id="src_options_original">
                    <ul class="section-group src_options-group">
                        <li>
                            <i class="section-group__item icon-check{{#is_false original.src_options.skip_abstract}}-empty{{/is_false}}" data-field="skip_abstract"/>
                            <span class="check-txt">
                                Skip abstract
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#is_false original.src_options.skip_abstract_paren}}-empty{{/is_false}}" data-field="skip_abstract_paren"/>
                            <span class="check-txt">
                                Skip abstract parent
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#is_false original.src_options.skip_icon}}-empty{{/is_false}}" data-field="skip_icon"/>
                            <span class="check-txt">
                                Skip icon
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#is_false original.src_options.skip_image_name}}-empty{{/is_false}}" data-field="skip_image_name"/>
                            <span class="check-txt">
                                Skip image name
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#is_false original.src_options.is_wikipedia}}-empty{{/is_false}}" data-field="is_wikipedia"/>
                            <span class="check-txt">
                                Is Wikipedia
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#is_false original.src_options.is_mediawiki}}-empty{{/is_false}}" data-field="is_mediawiki"/>
                            <span class="check-txt">
                                Is MediaWiki
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#is_false original.src_options.is_fanon}}-empty{{/is_false}}" data-field="is_fanon"/>
                            <span class="check-txt">
                                Is Fanon
                            </span>
                        </li>
                        <li>
                            <label class="left">Source skip</label>
                            <div class="clearfix section-group__item" data-field="source_skip">
                                {{original.src_options.source_skip}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Skip query</label>
                            <div class="clearfix section-group__item" data-field="skip_qr">
                                {{original.src_options.skip_qr}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Directory</label>
                            <div class="clearfix section-group__item" data-field="directory">
                                {{original.src_options.directory}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Minimum abstract length</label>
                            <div class="clearfix section-group__item" data-field="min_abstract_length">
                                {{original.src_options.min_abstract_length}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Source info</label>
                            <div class="clearfix section-group__item" data-field="src_info">
                                {{original.src_options.src_info}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Skip end</label>
                            <div class="clearfix section-group__item" data-field="skip_end">
                                {{original.src_options.skip_end}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Language</label>
                            <div class="clearfix section-group__item" data-field="language">
                                {{original.src_options.language}}
                            </div>
                        </li>
                    </ul>
                </td>
                <td name="src_options">
                    <ul class="section-group src_options-group">
                        <li>
                            <i class="section-group__item icon-check{{#is_false src_options.skip_abstract}}-empty{{/is_false}}" data-field="skip_abstract"/>
                            <span class="check-txt">
                                Skip abstract
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#is_false src_options.skip_abstract_paren}}-empty{{/is_false}}" data-field="skip_abstract_paren"/>
                            <span class="check-txt">
                                Skip abstract parent
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#is_false src_options.skip_icon}}-empty{{/is_false}}" data-field="skip_icon"/>
                            <span class="check-txt">
                                Skip icon
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#is_false src_options.skip_image_name}}-empty{{/is_false}}" data-field="skip_image_name"/>
                            <span class="check-txt">
                                Skip image name
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#is_false src_options.is_wikipedia}}-empty{{/is_false}}" data-field="is_wikipedia"/>
                            <span class="check-txt">
                                Is Wikipedia
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#is_false src_options.is_mediawiki}}-empty{{/is_false}}" data-field="is_mediawiki"/>
                            <span class="check-txt">
                                Is MediaWiki
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#is_false src_options.is_fanon}}-empty{{/is_false}}" data-field="is_fanon"/>
                            <span class="check-txt">
                                Is Fanon
                            </span>
                        </li>
                        <li>
                            <label class="left">Source skip</label>
                            <div class="clearfix section-group__item" data-field="source_skip">
                                {{src_options.source_skip}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Skip query</label>
                            <div class="clearfix section-group__item" data-field="skip_qr">
                                {{src_options.skip_qr}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Directory</label>
                            <div class="clearfix section-group__item" data-field="directory">
                                {{src_options.directory}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Minimum abstract length</label>
                            <div class="clearfix section-group__item" data-field="min_abstract_length">
                                {{src_options.min_abstract_length}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Source info</label>
                            <div class="clearfix section-group__item" data-field="src_info">
                                {{src_options.src_info}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Skip end</label>
                            <div class="clearfix section-group__item" data-field="skip_end">
                                {{src_options.skip_end}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Language</label>
                            <div class="clearfix section-group__item" data-field="language">
                                {{src_options.language}}
                            </div>
                        </li>
                    </ul>
                </td>
            </tr>
        {{/not_null}}

        {{#not_null dev_milestone}}
            <tr class="updates_list">
                <th>Dev Milestone</th>

                <td name="dev_milestone"  id="dev_milestone_original">
                    {{original.dev_milestone}}
                </td>
                <td name="dev_milestone">
                    {{dev_milestone}}
                </td>
            </tr>
        {{/not_null}}

        {{#exists this 'blockgroup'}}
            <tr class="updates_list">
                <th>Blockgroup</th>

                <td name="blockgroup"  id="blockgroup_original">
                    {{original.blockgroup}}
                </td>
                <td name="blockgroup">
                    {{blockgroup}}
                </td>
            </tr>
        {{/exists}}

        {{#exists this 'deployment_state'}}
            <tr class="updates_list">
                <th>Deployment State</th>

                <td name="deployment_statee"  id="deployment_state_original">
                    {{original.deployment_state}}
                </td>
                <td name="deployment_state">
                    {{deployment_state}}
                </td>
            </tr>
        {{/exists}}
    </tbody>
</table>

<span class="clearfix"></span>
<div class="button disabled" id="commit">Commit</div>
