<h2>{{original.name}} - Staged Edits</h2>
<p>Click on the version you want to commit for each field (default: original version)</p>
<table class="staged_edits">
    <thead>
        <tr>
            <th class="empty_th"></th>
            <th>Live</th>
            <th>Edited</th>
         </tr>
    </thead>
    
    <tbody>
        {{#if name}}
            <tr class="updates_list">
                <th>Name</th>

                <td name="name" class="item_selected" id="name_original">
                    {{original.name}}
                </td>
                <td name="name">{{name}}</td>
            </tr>
        {{/if}}

        {{#if status}}
            <tr class="updates_list">
                <th>Status</th>

                <td name="status" class="item_selected" id="status_original">
                    {{original.status}}
                </td>
                <td name="status">{{status}}</td>
            </tr>
        {{/if}}

        {{#if description}}
            <tr class="updates_list">
                <th>Description</th>

                <td name="description" class="item_selected" id="description_original">
                    {{original.description}}
                </td>
                <td name="description">
                    {{description}}
                </td>
            </tr>
        {{/if}}

        {{#if repo}}
            <tr class="updates_list">
                <th>Type</th>

                <td name="repo" class="item_selected" id="repo_original">
                    {{original.repo}}
                </td>
                <td name="repo">
                    {{repo}}
                </td>
            </tr>
        {{/if}}

        {{#if template}}
            <tr class="updates_list">
                <th>Template</th>

                <td name="template" class="item_selected" id="template_original">
                    {{original.template}}
                </td>
                <td name="template">
                    {{template}}
                </td>
            </tr>
        {{/if}}

        {{#if src_api_documentation}}
            <tr class="updates_list">
                <th>API Documentation</th>

                <td name="src_api_documentation" class="item_selected" id="src_api_documentation_original">
                    {{original.src_api_documentation}}
                </td>
                <td name="src_api_documentation">
                    {{src_api_documentation}}
                </td>
            </tr>
        {{/if}}

        {{#if api_status_page}}
            <tr class="updates_list">
                <th>API Status Page</th>

                <td name="api_status_page" class="item_selected" id="api_status_page_original">
                    {{original.api_status_page}}
                </td>
                <td name="api_status_page">
                    {{api_status_page}}
                </td>
            </tr>
        {{/if}}

        {{#if unsafe}}
            <tr class="updates_list">
                <th>Unsafe</th>

                <td name="unsafe" class="item_selected" id="unsafe_original">
                    {{original.unsafe}}
                </td>
                <td name="unsafe">
                    {{unsafe}}
                </td>
            </tr>
        {{/if}}

        {{#if answerbar.fallback_timeout}}
            <tr class="updates_list">
                <th>Answerbar</th>

                <td name="answerbar" class="item_selected" id="answerbar_original">
                    {{original.answerbar.fallback_timeout}}
                </td>
                <td name="answerbar">
                    {{answerbar.fallback_timeout}}
                </td>
            </tr>
        {{/if}}

        {{#if tab}}
            <tr class="updates_list">
                <th>Tab</th>

                <td name="tab" class="item_selected" id="tab_original">
                    {{original.tab}}
                </td>
                <td name="tab">
                    {{tab}}
                </td>
            </tr>
        {{/if}}

        {{#if producer}}
            <tr class="updates_list">
                <th>Producer</th>

                <td name="producer" class="item_selected" id="producer_original">
                    {{original.producer}}
                </td>
                <td name="producer">
                    {{producer}}
                </td>
            </tr>
        {{/if}}

        {{#if designer}}
            <tr class="updates_list">
                <th>Designer</th>

                <td name="designer" class="item_selected" id="designer_original">
                    {{original.designer}}
                </td>
                <td name="designer">
                    {{designer}}
                </td>
            </tr>
        {{/if}}

        {{#if developer.name}}
            <tr class="updates_list">
                <th>Developer</th>

                <td name="developer" class="item_selected" id="developer_original">
                    {{original.developer.name}}
                </td>
                <td name="developer">
                    {{developer.name}}
                </td>
            </tr>
        {{/if}}

        {{#if perl_module}}
            <tr class="updates_list">
                <th>Perl Module</th>

                <td name="perl_module" class="item_selected" id="perl_module_original">
                    {{original.perl_module}}
                </td>
                <td name="perl_module">
                    {{perl_module}}
                </td>
            </tr>
        {{/if}}

        {{#if topic.edited}}
            <tr class="updates_list">
                <th>Topic</th>

                <td name="topic" class="item_selected" id="topic_original">
                    {{#each original.topic}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
                <td name="topic">
                    {{#each topic.value}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
            </tr>
        {{/if}}

        {{#if example_query}}
            <tr class="updates_list">
                <th>Example Query</th>

                <td name="example_query" class="item_selected" id="example_query_original">
                    {{original.example_query}}
                </td>
                <td name="example_query">
                    {{example_query}}
                </td>
            </tr>
        {{/if}}

       {{#if other_queries.edited}}
            <tr class="updates_list">
                <th>Other Queries</th>

                <td name="other_queries" class="item_selected" id="other_queries_original">
                    {{#each original.other_queries}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
                <td name="other_queries">
                    {{#each other_queries.value}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
            </tr>
        {{/if}}

       {{#if triggers.edited}}
            <tr class="updates_list">
                <th>Trigger Words</th>

                <td name="triggers" class="item_selected" id="triggers_original">
                    {{#each original.triggers}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
                <td name="triggers">
                    {{#each triggers.value}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
            </tr>
        {{/if}}

       {{#if perl_dependencies.edited}}
            <tr class="updates_list">
                <th>Perl Dependencies</th>

                <td name="perl_dependencies" class="item_selected" id="perl_dependencies_original">
                    {{#each original.perl_dependencies}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
                <td name="perl_dependencies">
                    {{#each perl_dependencies.value}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
            </tr>
        {{/if}}

       {{#if src_options}}
            <tr class="updates_list">
                <th>Source Options</th>

                <td name="src_options" class="item_selected" id="src_options_original">
                    <ul class="section-group src_options-group">
                        <li>
                            <i class="section-group__item icon-check{{#unless original.src_options.skip_end}}-empty{{/unless}}" data-field="skip_end"/>
                            <span class="check-txt">
                                Skip end
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#unless original.src_options.skip_abstract}}-empty{{/unless}}" data-field="skip_abstract"/>
                            <span class="check-txt">
                                Skip abstract
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#unless original.src_options.skip_abstract_paren}}-empty{{/unless}}" data-field="skip_abstract_paren"/>
                            <span class="check-txt">
                                Skip abstract parent
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#unless original.src_options.skip_icon}}-empty{{/unless}}" data-field="skip_icon"/>
                            <span class="check-txt">
                                Skip icon
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#unless original.src_options.skip_image_name}}-empty{{/unless}}" data-field="skip_image_name"/>
                            <span class="check-txt">
                                Skip image name
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#unless original.src_options.is_wikipedia}}-empty{{/unless}}" data-field="is_wikipedia"/>
                            <span class="check-txt">
                                Is Wikipedia
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#unless original.src_options.is_mediawiki}}-empty{{/unless}}" data-field="is_mediawiki"/>
                            <span class="check-txt">
                                Is MediaWiki
                            </span>
                        </li>
                        <li>
                            <label class="left">Skip query</label>
                            <div class="clearfix section-group__item" data-field="skip_qr">
                                {{original.src_options.skip_qr}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Directory</label>
                            <div class="clearfix section-group__item" data-field="directory">
                                {{original.src_options.directory}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Minimum abstract length</label>
                            <div class="clearfix section-group__item" data-field="min_abstract_length">
                                {{original.src_options.min_abstract_length}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Source info</label>
                            <div class="clearfix section-group__item" data-field="src_info">
                                {{original.src_options.src_info}}
                            </div>
                        </li>
                    </ul>
                </td>
                <td name="src_options">
                    <ul class="section-group src_options-group">
                        <li>
                            <i class="section-group__item icon-check{{#unless src_options.skip_end}}-empty{{/unless}}" data-field="skip_end"/>
                            <span class="check-txt">
                                Skip end
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#unless src_options.skip_abstract}}-empty{{/unless}}" data-field="skip_abstract"/>
                            <span class="check-txt">
                                Skip abstract
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#unless src_options.skip_abstract_paren}}-empty{{/unless}}" data-field="skip_abstract_paren"/>
                            <span class="check-txt">
                                Skip abstract parent
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#unless src_options.skip_icon}}-empty{{/unless}}" data-field="skip_icon"/>
                            <span class="check-txt">
                                Skip icon
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#unless src_options.skip_image_name}}-empty{{/unless}}" data-field="skip_image_name"/>
                            <span class="check-txt">
                                Skip image name
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#unless src_options.is_wikipedia}}-empty{{/unless}}" data-field="is_wikipedia"/>
                            <span class="check-txt">
                                Is Wikipedia
                            </span>
                        </li>
                        <li>
                            <i class="section-group__item icon-check{{#unless src_options.is_mediawiki}}-empty{{/unless}}" data-field="is_mediawiki"/>
                            <span class="check-txt">
                                Is MediaWiki
                            </span>
                        </li>
                        <li>
                            <label class="left">Skip query</label>
                            <div class="clearfix section-group__item" data-field="skip_qr">
                                {{src_options.skip_qr}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Directory</label>
                            <div class="clearfix section-group__item" data-field="directory">
                                {{src_options.directory}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Minimum abstract length</label>
                            <div class="clearfix section-group__item" data-field="min_abstract_length">
                                {{src_options.min_abstract_length}}
                            </div>
                        </li>
                        <li>
                            <label class="left">Source info</label>
                            <div class="clearfix section-group__item" data-field="src_info">
                                {{src_options.src_info}}
                            </div>
                        </li>
                    </ul>
                </td>
            </tr>
        {{/if}}

        {{#if dev_milestone}}
            <tr class="updates_list">
                <th>Dev Milestone</th>

                <td name="dev_milestone" class="item_selected" id="dev_milestone_original">
                    {{original.dev_milestone}}
                </td>
                <td name="dev_milestone">
                    {{dev_milestone}}
                </td>
            </tr>
        {{/if}}
    </tbody>
</table>

<span class="clearfix"></span>
<div class="button" id="commit">Commit</div>
