<div class="updates_list">
    <h2>Name</h2>

    <ul name="name">
        {{#each name}}
            <li id="name_{{time}}">{{value}}</li>
        {{/each}}
    </ul>
</div>

<div class="updates_list">
    <h2>Status</h2>

    <ul name="status">
        {{#each status}}
            <li id="status_{{time}}">{{value}}</li>
        {{/each}}
    </ul>
</div>

<div class="updates_list">
    <h2>Description</h2>

    <ul name="description">
        {{#each description}}
            <li id="description_{{time}}">{{value}}</li>
        {{/each}}
    </ul>
</div>

<span class="clearfix"></span>
<div class="button" id="commit">Commit</div>
