{{#if name}}
    <div class="updates_list">
        <h2>Name</h2>

        <ul name="name">
            <li class="item_selected" id="name_original">
                {{original.name}}
            </li>
            {{#each name}}
                <li id="name_{{time}}">{{value}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}

{{#if status}}
    <div class="updates_list">
        <h2>Status</h2>

        <ul name="status">
            <li class="item_selected" id="status_original">
                {{original.status}}
            </li>
            {{#each status}}
                <li id="status_{{time}}">{{value}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}

{{#if description}}
    <div class="updates_list">
        <h2>Description</h2>

        <ul name="description">
            <li class="item_selected" id="description_original">
                {{original.description}}
            </li>
            {{#each description}}
                <li id="description_{{time}}">{{value}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}

{{#if topic}}
    <div class="updates_list">
        <h2>Topic</h2>

        <ul name="topic">
            <li class="item_selected" id="topic_original">
                {{original.topic}}
            </li>
            {{#each topic}}
                <li id="topic_{{time}}">{{value}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}

{{#if example_query}}
    <div class="updates_list">
        <h2>Example Query</h2>

        <ul name="example_query">
            <li class="item_selected" id="example_query_original">
                {{original.example_query}}
            </li>
            {{#each example_query}}
                <li id="example_query_{{time}}">{{value}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}

{{#if other_queries}}
    <div class="updates_list">
        <h2>Other Queries</h2>

        <ul name="other_queries">
            <li class="item_selected" id="other_queries_original">
                {{original.other_queries}}
            </li>
            {{#each other_queries}}
                <li id="other_queries_{{time}}">{{value}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}

{{#if code}}
    <div class="updates_list">
        <h2>Code</h2>

        <ul name="code">
            <li class="item_selected" id="code_original">
                {{original.code}}
            </li>
            {{#each code}}
                <li id="code_{{time}}">{{value}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}

<span class="clearfix"></span>
<div class="button" id="commit">Commit</div>
