<div class="dev_milestone-container__header container-contributors__header">
    <h3 class="dev_milestone-container__header__title">
        Contributors
    </h3>
    <span class="clearfix"></span>
</div>

<div class="dev_milestone-container__body container-contributors__body">
    <div class="dev_milestone-container__body__label ia-single--header">
      PRODUCER
    </div>
    {{#if permissions.admin}}
    <div>
      <input data-panel="contributors" type="text" class="frm__input producer dev_milestone-container__body__input js-autocommit team-input" id="producer-input" value="{{live.producer}}" />
      <div data-panel="contributors" class="dev_milestone-container__body__button js-autocommit button assign-button btn" id="producer-button">
        Assign to me
      </div>
    </div>
      {{else}}
      {{#if live.producer}}
        <div class="dev_milestone-container__body__readonly" id="producer-txt">
          <a href="/user/{{live.producer}}">{{live.producer}}</a>
        </div>
      {{else}}
        none
      {{/if}}
    {{/if}}

    <div class="dev_milestone-container__body__label ia-single--header">
      DEVELOPER
    </div>
    {{#if permissions.can_edit}}
        <ul>
            {{#if live.developer}}
                {{#each live.developer}}
                    <li class="js-autocommit developer">
                        <div data-panel="contributors" class="developer button delete left" name="developer" title="Remove developer">
                            <i class="ddgsi ddgsi-close-bold">X</i>
                        </div>
                        {{#eq_or type 'duck.co' 'github'}}
                        <span class="frm__select">
                            <select data-panel="contributors" class="available_types left" tabindex="-1" {{#eq type 'legacy'}}disabled="disabled"{{/eq}}>
                                {{#if type}}<option value="0">{{type}}</option>{{/if}}
                                {{#not_eq type 'duck.co'}}<option value="1">duck.co</option>{{/not_eq}}
                                {{#not_eq type 'github'}}<option value="2">github</option>{{/not_eq}}
                            </select>
                        </span>
                        {{/eq_or}}
                        <span class="developer_username left type-{{type}}">
                            <input type="text" data-panel="contributors" class="frm__input" {{#eq_or type 'duck.co' 'github'}}value="{{final_path url}}"{{/eq_or}} {{#eq type 'legacy'}}value="{{url}}" disabled="disabled"{{/eq}}/>
                        </span>
                    </li>
                    <span class="clearfix"></span>
                {{/each}}
            {{/if}}
            <li class="hide new_input js-autocommit developer">
                <div data-panel="contributors" class="button delete left" name="developer" title="Remove developer">
                    <i class="ddgsi ddgsi-close-bold">X</i>
                </div>
                <span class="frm__select">
                  <select data-panel="contributors" class="available_types left" tabindex="-1">
                    <option value="0">duck.co</option>
                    <option value="1">github</option>
                  </select>
                </span>
                <span class="developer_username left">
                    <input data-panel="contributors" class="frm__input" type="text"/>
                </span>
                <span class="clearfix"></span>
            </li>
            <li id="add_developer">
                <div class="button listbutton add_input" id="add_developer_button" title="Add developer">
                    <i class="ddgsi ddgsi-plus"></i>
                </div>
            </li>
        </ul>
    {{else}}
      {{#if live.developer}}
        <div class="dev_milestone-container__body__readonly" id="developer-txt">
          {{#each live.developer}}
            <a href="{{url}}">{{name}}</a>
          {{/each}}
        </div>
      {{else}}
        none
      {{/if}}
    {{/if}}
</div>

