<div id="big-description">
    <h3 class="ia-single--header">Description
    {{#if permissions.can_edit}}
        {{#ne_and dev_milestone 'live' 'deprecated'}}
            <a href="#" class="devpage-edit {{#if staged.description}}hide{{/if}}" id="dev-edit-description">Edit</a>
            <a href="#" class="devpage-commit sep--after {{#unless staged.description}}hide{{/unless}}" id="dev-commit-description">Commit</a>
            <a href="#" class="devpage-cancel {{#unless staged.description}}hide{{/unless}}" id="dev-cancel-description">Cancel</a>
        {{/ne_and}}
    {{else}}
        {{#if forum_link}}
            <span class="sep--before">
                <a href="{{forum_link}}">Forum Thread</a>
            </span>
        {{/if}}
    {{/if}}
    </h3>

    <p  class="readonly--info {{#if staged.description}}hide{{/if}}" id="description--readonly">
        {{#if description}}
            {{description}}
        {{else}}
            No description provided.
        {{/if}}

        {{#if permissions.can_edit}}
            {{#if forum_link}}
                <span class="sep--before">
                    <a href="{{forum_link}}">Forum Thread</a>
                </span>
            {{/if}}
        {{/if}}
    </p>

    {{#if permissions.can_edit}}
        <textarea class="{{#unless staged.description}}hide{{/unless}} frm__text description js-autocommit hidden-toshow" id="description-textarea">
            {{~#if staged.description~}}
                {{staged.description}}
            {{~else~}}
                {{description}}
            {{/if}}
        </textarea>
    {{/if}}
</div>
