<div id="big-description">
    <h3 class="ia-single--header">
            <span {{#ne_and dev_milestone 'live' 'deprecated'}}{{#if permissions.can_edit}}class="asterisk"{{/if}}{{/ne_and}}>Description</span>
    {{#if permissions.can_edit}}
        {{#ne_and dev_milestone 'live' 'deprecated'}}
            <a href="#" class="devpage-edit {{#exists staged 'description'}}hide{{/exists}}" id="dev-edit-description">Edit</a>
            <a href="#" class="devpage-commit sep--after {{#n_exists staged 'description'}}hide{{/n_exists}}" id="dev-commit-description">Commit</a>
            <a href="#" class="devpage-cancel {{#n_exists staged 'description'}}hide{{/n_exists}}" id="dev-cancel-description">Cancel</a>
        {{/ne_and}}
    {{/if}}
        {{#if forum_link}}
            <a href="/ideas/idea/{{forum_link}}" {{#ne_and dev_milestone 'live' 'deprecated'}}class="sep--before devpage-forum"{{/ne_and}}>Forum Thread</a>
        {{/if}}
    </h3>

    <p  class="readonly--info {{#exists staged 'description'}}hide{{/exists}}" id="description--readonly">
        {{#if description}}
            {{description}}
        {{else}}
            <span class="no-available">No description provided.</span>
        {{/if}}
    </p>

    {{#if permissions.can_edit}}
        <textarea class="{{#n_exists staged 'description'}}hide{{/n_exists}} frm__text description js-autocommit hidden-toshow" id="description-textarea">
            {{~#exists staged 'description'~}}
                {{staged.description}}
            {{~else~}}
                {{description}}
            {{~/exists~}}
        </textarea>
    {{/if}}
</div>
