<div class="filters-bar clearfix">
  <div class="left search-container">
    <i class="ddgsi-loupe"></i>
    <input type="text" class="search-thing" placeholder="Filter by title or description">
  </div>

    <div class="right">
      <span class="pipeline-filter right" id="filter-mentioned" title="Filter by mentions">
        <i class="platform-at-mention"></i>
        <span class="filter-count" id="count-mentioned"></span>
      </span>

      {{#if permissions.admin}}
        <span class="pipeline-filter right" id="filter-attention" title="Filter by last activity author">
            <i class="platform-warning"></i>
            <span class="filter-count" id="count-attention"></span>
        </span>
      {{/if}}

      <span class="pipeline-filter right" id="filter-important" title="Filter by priority">
        <i class="icon-star"></i>
        <span class="filter-count" id="count-important"></span>
      </span>


      <span class="pipeline-filter right" id="filter-missing" title="Filter by missing info">
          <span class="platform-no-info">
              <span class="path1"></span>
              <span class="path2"></span>
          </span>
          <span class="filter-count" id="count-missing"></span>
      </span> 

      
      <!--- <span class="toggle-details right">
        <i class="icon-check-empty"></i>
        Show activity details
      </span> --->

    {{#if permissions.admin}}
      <span class="right frm__select" id="sort_pipeline">
        <select>
            {{#if by_priority}}
                <option value="0">Sort by Priority</option>
                <option value="1">Sort by Recently Updated</option>
            {{else}}
                <option value="1">Sort by Recently Updated</option>
                <option value="0">Sort by Priority</option>
            {{/if}}
        </select>
      </span>
    {{/if}}
          
      <span class="button fix-float"></span>
    </span>
  </div>
</div>

<div class="gw">
  {{#with dev_milestones}}

<div class="dev_pipeline-column quarter g" id="pipeline-planning">
  <div class="dev_pipeline-column--container">
    <h2 class="dev_pipeline-column__title">
        <span class="left">Planning </span> <span class="milestone-count right">{{length planning}}</span>
        <span class="clearfix"></span>
    </h2>
    <ul class="dev_pipeline-column__list" id="pipeline-planning__list">
        {{#each planning}}
            <li id="pipeline-list__{{id}}" class="{{#if pr.issue_id}} {{#if last_update}} {{#is_before last_comment.date last_commit.date}}{{#unless last_commit.admin}} attention {{/unless}} {{else}} {{#unless last_comment.admin}} attention {{/unless}} {{/is_before}} {{/if}}
            {{#each pr.tags}}{{#eq (slug name) 'priorityhigh'}} important {{/eq}}{{/each}}{{/if}}{{#if can_edit}}can_edit{{/if}} producer-{{#if producer}}{{slug producer}}{{/if}} designer-{{designer}} {{#if developer}}{{#each developer}}developer-{{slug name}} {{/each}}{{else}}developer-{{/if}}
             {{#is_false_array perl_module name repo example_query producer developer}} missing {{/is_false_array}}
             {{#each at_mentions}}{{#eq ../../../username name}} mentioned {{/eq}}{{/each}}">
                <div class="item-name pipeline__stamp-{{repo}}">
                    <a href="/ia/view/{{id}}"><i class="icon-link hide"></i></a>
                    {{name}}
                    <div class="right item-activity">
                      {{#exists pr 'issue_id'}}
                          <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}" class="one-line" id="pr" title="{{format_time last_update}}">
                            {{timeago last_update 0}}
                          </a>
                      {{else}}
                          <i class="{{#if pr_merged}} platform-pr-merged {{else}} platform-pr-closed {{/if}}"></i>
                          <span class="no-pr" title="{{format_time last_update}}">
                            {{timeago last_update 0}}
                          </span>
                      {{/exists}}
                    </div>
                </div>
                <span class="clearfix"></span>
                <div class="activity-details hide">
                    {{#is_before last_comment.date last_commit.date}}
                        <div class="new-commit one-line">
                            <i class="icon icon-circle" />
                            New commit: <a href="{{last_commit.diff}}">{{last_commit.message}}</a>
                        </div>
                    {{/is_before}}
                    {{#if last_comment}}
                        <div class="last-comment one-line">
                            <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}#issuecomment-{{last_comment.id}}">
                                <i class="icon icon-bubbles" />
                                Last comment by {{last_comment.user}}
                            </a>
                       </div>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
    </div>
</div>

<div class="dev_pipeline-column quarter g" id="pipeline-development">
  <div class="dev_pipeline-column--container">
    <h2 class="dev_pipeline-column__title">
        <span class="left">Development </span> <span class="milestone-count right">{{length development}}</span>
        <span class="clearfix">
    </h2>

    <ul class="dev_pipeline-column__list" id="pipeline-development__list">
        {{#each development}}
            <li id="pipeline-list__{{id}}" class="{{#if pr.issue_id}} {{#if last_update}} {{#is_before last_comment.date last_commit.date}}{{#unless last_commit.admin}} attention {{/unless}} {{else}} {{#unless last_comment.admin}} attention {{/unless}} {{/is_before}} {{/if}}
            {{#each pr.tags}}{{#eq (slug name) 'priorityhigh'}} important {{/eq}}{{/each}}{{/if}}{{#if can_edit}}can_edit{{/if}} producer-{{#if producer}}{{slug producer}}{{/if}} designer-{{designer}} {{#if developer}}{{#each developer}}developer-{{slug name}} {{/each}}{{else}}developer-{{/if}}
             {{#is_false_array perl_module name repo example_query producer developer}} missing {{/is_false_array}}
             {{#each at_mentions}}{{#eq ../../../username name}} mentioned {{/eq}}{{/each}}">
                <div class="item-name pipeline__stamp-{{repo}}">
                    <a href="/ia/view/{{id}}"><i class="icon-link hide"></i></a>
                    {{name}}
                    <div class="right item-activity">
                      {{#exists pr 'issue_id'}}
                          <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}" class="one-line" id="pr" title="{{format_time last_update}}">
                            {{timeago last_update 0}}
                          </a>
                      {{else}}
                          <i class="{{#if pr_merged}} platform-pr-merged {{else}} platform-pr-closed {{/if}}"></i>
                          <span class="no-pr" title="{{format_time last_update}}">
                            {{timeago last_update 0}}
                          </span>
                      {{/exists}}
                    </div>
                </div>
                <span class="clearfix"></span>
                <div class="activity-details hide">
                    {{#is_before last_comment.date last_commit.date}}
                        <div class="new-commit one-line">
                            <i class="icon icon-circle" />
                            New commit: <a href="{{last_commit.diff}}">{{last_commit.message}}</a>
                        </div>
                    {{/is_before}}
                    {{#if last_comment}}
                        <div class="last-comment one-line">
                            <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}#issuecomment-{{last_comment.id}}">
                                <i class="icon icon-bubbles" />
                                Last comment by {{last_comment.user}}
                            </a>
                       </div>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
    </div>
</div>

<div class="dev_pipeline-column quarter g" id="pipeline-testing">
  <div class="dev_pipeline-column--container">
    <h2 class="dev_pipeline-column__title">
        <span class="left">Testing </span> <span class="milestone-count right"> {{length testing}} </span>
        <span class="clearfix"></span>
    </h2>

    <ul class="dev_pipeline-column__list" id="pipeline-testing__list">
        {{#each testing}}
            <li id="pipeline-list__{{id}}" class="{{#if pr.issue_id}} {{#if last_update}} {{#is_before last_comment.date last_commit.date}}{{#unless last_commit.admin}} attention {{/unless}} {{else}} {{#unless last_comment.admin}} attention {{/unless}} {{/is_before}} {{/if}}
            {{#each pr.tags}}{{#eq (slug name) 'priorityhigh'}} important {{/eq}}{{/each}}{{/if}}{{#if can_edit}}can_edit{{/if}} producer-{{#if producer}}{{slug producer}}{{/if}} designer-{{designer}} {{#if developer}}{{#each developer}}developer-{{slug name}} {{/each}}{{else}}developer-{{/if}}
             {{#is_false_array perl_module name repo example_query producer developer}} missing {{/is_false_array}}
             {{#each at_mentions}}{{#eq ../../../username name}} mentioned {{/eq}}{{/each}}">
                <div class="item-name pipeline__stamp-{{repo}}">
                    <a href="/ia/view/{{id}}"><i class="icon-link hide"></i></a>
                    {{name}}
                    <div class="right item-activity">
                      {{#exists pr 'issue_id'}}
                          <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}" class="one-line" id="pr" title="{{format_time last_update}}">
                            {{timeago last_update 0}}
                          </a>
                      {{else}}
                          <i class="{{#if pr_merged}} platform-pr-merged {{else}} platform-pr-closed {{/if}}"></i>
                          <span class="no-pr" title="{{format_time last_update}}">
                            {{timeago last_update 0}}
                          </span>
                      {{/exists}}
                    </div>
                </div>
                <span class="clearfix"></span>
                <div class="activity-details hide">
                    {{#is_before last_comment.date last_commit.date}}
                        <div class="new-commit one-line">
                            <i class="icon icon-circle" />
                            New commit: <a href="{{last_commit.diff}}">{{last_commit.message}}</a>
                        </div>
                    {{/is_before}}
                    {{#if last_comment}}
                        <div class="last-comment one-line">
                            <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}#issuecomment-{{last_comment.id}}">
                                <i class="icon icon-bubbles" />
                                Last comment by {{last_comment.user}}
                            </a>
                       </div>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
    </div>
</div>

<div class="dev_pipeline-column quarter g" id="pipeline-complete">
   <div class="dev_pipeline-column--container">
    <h2 class="dev_pipeline-column__title">
        <span class="left">Complete </span> <span class="milestone-count right"> {{length complete}} </span>
        <span class="clearfix"></span>
    </h2>

    <ul class="dev_pipeline-column__list" id="pipeline-complete__list">
        {{#each complete}}
            <li id="pipeline-list__{{id}}" class="{{#if pr.issue_id}} {{#if last_update}} {{#is_before last_comment.date last_commit.date}}{{#unless last_commit.admin}} attention {{/unless}} {{else}} {{#unless last_comment.admin}} attention {{/unless}} {{/is_before}} {{/if}}
            {{#each pr.tags}}{{#eq (slug name) 'priorityhigh'}} important {{/eq}}{{/each}}{{/if}}{{#if can_edit}}can_edit{{/if}} producer-{{#if producer}}{{slug producer}}{{/if}} designer-{{designer}} {{#if developer}}{{#each developer}}developer-{{slug name}} {{/each}}{{else}}developer-{{/if}}
             {{#is_false_array perl_module name repo example_query producer developer}} missing {{/is_false_array}}
             {{#each at_mentions}}{{#eq ../../../username name}} mentioned {{/eq}}{{/each}}">
                <div class="item-name pipeline__stamp-{{repo}}">
                    <a href="/ia/view/{{id}}"><i class="icon-link hide"></i></a>
                    {{name}}
                    <div class="right item-activity">
                      {{#exists pr 'issue_id'}}
                          <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}" class="one-line" id="pr" title="{{format_time last_update}}">
                            {{timeago last_update 0}}
                          </a>
                      {{else}}
                          <i class="{{#if pr_merged}} platform-pr-merged {{else}} platform-pr-closed {{/if}}"></i>
                          <span class="no-pr" title="{{format_time last_update}}">
                            {{timeago last_update 0}}
                          </span>
                      {{/exists}}
                    </div>
                </div>
                <span class="clearfix"></span>
                <div class="activity-details hide">
                    {{#is_before last_comment.date last_commit.date}}
                        <div class="new-commit one-line">
                            <i class="icon icon-circle" />
                            New commit: <a href="{{last_commit.diff}}">{{last_commit.message}}</a>
                        </div>
                    {{/is_before}}
                    {{#if last_comment}}
                        <div class="last-comment one-line">
                            <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}#issuecomment-{{last_comment.id}}">
                                <i class="icon icon-bubbles" />
                                Last comment by {{last_comment.user}}
                            </a>
                       </div>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
    </div>
</div>
{{/with}}
</div>
