<div id="pipeline-live-container" class="pipeline-container left">
    <ul class="dev_pipeline-container__list" id="pipeline-live__list">
        {{#each ia}}
            <li id="pipeline-live__list__{{id}}" class="pipeline-live__list__item {{#each issues}}{{#each tags}} issue-{{slug name}} {{/each}}{{/each}}
            {{#if producer}}producer-{{producer}}{{/if}} {{#if designer}}designer-{{designer}}{{/if}} {{#if developer.name}}developer-{{developer.name}}{{/if}}">
                <div class="list-container--left left">
                    <h3><a href="/ia/view/{{id}}">{{name}}</a></h3>
                </div>
                <div class="list-container--right left">
                    <ul class="list-container--right__issues issues_col">
                        {{#each issues}}
                            <li>
                                <div class="one-line left">
                                    <a href="https://github.com/duckduckgo/zeroclickinfo-{{../repo}}/issues/{{issue_id}}">{{title}}</a>
                                </div>
                                {{#each tags}}
                                    <div class="list-container--right__issues__tags issues_col__tags left issue-{{slug name}}" style="background-color: #{{color}};">
                                    </div>
                                {{/each}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <span class="clearfix"></span>
            </li>
        {{/each}}
    </ul>
</div>

<div class="filter-issues left">
    {{#each tags}}
        <div class="filter-issues__item">
            <i class="filter-issues__item__checkbox icon-check-empty left" id="issue-{{slug name}}"></i>
            <div class="filter-issues__item__tag left" style="background-color: #{{color}};">
                {{name}}
            </div>
        </div>
        <span class="clearfix"></span>
    {{/each}}
</div>

