<div class="dev_pipeline-column repo-none left">
    <h2 class="dev_pipeline-column__title">
        None
    </h2>

    <ul class="dev_pipeline-column__list" >
        {{#each none}}
            <li >
                <a href="/ia/view/{{id}}">{{name}}</a>
            </li>
        {{/each}}
    </ul>
</div>

<div class="dev_pipeline-column repo-fathead left" >
    <h2 class="dev_pipeline-column__title">
        Fathead
    </h2>

    <ul class="dev_pipeline-column__list" >
        {{#each fathead}}
            <li >
                <a href="/ia/view/{{id}}">{{name}}</a>
            </li>
        {{/each}}
    </ul>
</div>

<div class="dev_pipeline-column repo-goodies left" >
    <h2 class="dev_pipeline-column__title">
        Goodies
    </h2>


    <ul class="dev_pipeline-column__list" >
        {{#each goodies}}
            <li >
                <a href="/ia/view/{{id}}">{{name}}</a>
            </li>
        {{/each}}
    </ul>
</div>

<div class="dev_pipeline-column repo-longtail left" >
    <h2 class="dev_pipeline-column__title">
        Longtail
    </h2>


    <ul class="dev_pipeline-column__list" >
        {{#each longtail}}
            <li >
                <a href="/ia/view/{{id}}">{{name}}</a>
            </li>
        {{/each}}
    </ul>
</div>

<div class="dev_pipeline-column repo-spice left" >
    <h2 class="dev_pipeline-column__title">
        Spice
    </h2>

    <ul class="dev_pipeline-column__list" >
        {{#each spice}}
            <li >
                <a href="/ia/view/{{id}}">{{name}}</a>
            </li>
        {{/each}}
    </ul>
</div>

