<div>
{{#with dev_milestones}}
<h2>Total IAs in Pipeline: {{sum (length planning) (length testing) (length development) (length complete)}}</h2>

<h2>Created Today: 
    {{sum 
        (stats_from_day planning    1 'less-than') 
        (stats_from_day development 1 'less-than') 
        (stats_from_day testing     1 'less-than') 
        (stats_from_day complete    1 'less-than') 
    }}
</h2>
<h2>Created This week: 
    {{sum 
        (stats_from_day planning    7 'less-than') 
        (stats_from_day development 7 'less-than') 
        (stats_from_day testing     7 'less-than') 
        (stats_from_day complete    7 'less-than') 
    }}
</h2>
<h2>Created in last 30 days: 
    {{sum 
        (stats_from_day planning    30 'less-than') 
        (stats_from_day development 30 'less-than') 
        (stats_from_day testing     30 'less-than') 
        (stats_from_day complete    30 'less-than') 
    }}
</h2>
<h2>Created in last 60 days: 
    {{sum 
        (stats_from_day planning    60 'less-than') 
        (stats_from_day development 60 'less-than') 
        (stats_from_day testing     60 'less-than') 
        (stats_from_day complete    60 'less-than') 
    }}
</h2>
<h2>Older than 60 days: 
    {{sum 
        (stats_from_day planning    60 'greater-than') 
        (stats_from_day development 60 'greater-than') 
        (stats_from_day testing     60 'greater-than') 
        (stats_from_day complete    60 'greater-than') 
    }}
</h2>
<div class="dev_pipeline-column left" id="pipeline-planning">
    <h2 class="dev_pipeline-column__title">
        Planning ({{length planning}})
    </h2>
    <ul class="dev_pipeline-column__list" id="pipeline-planning__list">
        {{#each planning}}
            <li id="pipeline-list__{{id}}" class="{{#if can_edit}}can_edit{{/if}} producer-{{#if producer}}{{slug producer}}{{/if}} designer-{{designer}} {{#if developer}}{{#each developer}}developer-{{slug name}} {{/each}}{{else}}developer-{{/if}}
             {{#is_false_array perl_module name repo example_query}} missing-all {{#unless perl_module}}missing-perl_module{{/unless}} {{#unless name}}missing-name{{/unless}} {{#unless repo}}missing-type{{/unless}} {{#unless example_query}}missing-example_query{{/unless}} {{else}}missing-{{/is_false_array}}">
                {{#if ../../permissions.admin}}
                    <i class="icon-check-empty left" />
                {{/if}}
                <div class="ia-item--stamp circle stamp--{{repo}} left"></div>
                <div class="left item-name">
                    <a href="/ia/view/{{id}}">{{name}}</a>
                </div>
                <div class="right item-activity">
                    {{#if pr}}
                        <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}" class="one-line" id="pr">
                            PR 
                        </a>
                        
                    {{/if}}
                    <span title="{{format_time last_update}}">
                        {{timeago last_update}}
                    </span>
                </div>
                <span class="clearfix"></span>
                <div class="activity-details hide">
                    {{#is_before last_comment.date last_commit.date}}
                        <div class="new-commit one-line">
                            <i class="icon icon-circle" />
                            New commit: <a href="{{last_commit.diff}}">{{last_commit.message}}</a>
                        </div>
                    {{/is_before}}
                    {{#if last_comment}}
                        <div class="last-comment one-line">
                            <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}#issuecomment-{{last_comment.id}}">
                                <i class="icon icon-bubbles" />
                                Last comment by {{last_comment.user}}
                            </a>
                       </div>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
</div>

<div class="dev_pipeline-column left" id="pipeline-development">
    <h2 class="dev_pipeline-column__title">
        Development ({{length development}})
    </h2>

    <ul class="dev_pipeline-column__list" id="pipeline-development__list">
        {{#each development}}
            <li id="pipeline-list__{{id}}" class="{{#if can_edit}}can_edit{{/if}} producer-{{#if producer}}{{slug producer}}{{/if}} designer-{{designer}} {{#if developer}}{{#each developer}}developer-{{slug name}} {{/each}}{{else}}developer-{{/if}}
             {{#is_false_array perl_module name repo example_query}} missing-all {{#unless perl_module}}missing-perl_module{{/unless}} {{#unless name}}missing-name{{/unless}} {{#unless repo}}missing-type{{/unless}} {{#unless example_query}}missing-example_query{{/unless}} {{else}}missing-{{/is_false_array}}">
                   {{#if ../../permissions.admin}}
                    <i class="icon-check-empty left" />
                {{/if}}
                <div class="ia-item--stamp circle stamp--{{repo}} left"></div>
                <div class="left item-name">
                    <a href="/ia/view/{{id}}">{{name}}</a>
                </div>
                <div class="right item-activity">
                    {{#if pr}}
                        <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}" class="one-line" id="pr">
                            PR
                        </a>
                        
                    {{/if}}
                    <span title="{{format_time last_update}}">
                        {{timeago last_update}}
                    </span>
                </div>
                <span class="clearfix"></span>
                <div class="activity-details hide">
                    {{#is_before last_comment.date last_commit.date}}
                        <div class="new-commit one-line">
                            <i class="icon icon-circle" />
                            New commit: <a href="{{last_commit.diff}}">{{last_commit.message}}</a>
                        </div>
                    {{/is_before}}
                    {{#if last_comment}}
                        <div class="last-comment one-line">
                            <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}#issuecomment-{{last_comment.id}}">
                                <i class="icon icon-bubbles" />
                                Last comment by {{last_comment.user}}
                            </a>
                       </div>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
</div>

<div class="dev_pipeline-column left" id="pipeline-testing">
    <h2 class="dev_pipeline-column__title">
        Testing ({{length testing}})
    </h2>

    <ul class="dev_pipeline-column__list" id="pipeline-testing__list">
        {{#each testing}}
            <li id="pipeline-list__{{id}}" class="{{#if can_edit}}can_edit{{/if}} producer-{{#if producer}}{{slug producer}}{{/if}} designer-{{designer}} {{#if developer}}{{#each developer}}developer-{{slug name}} {{/each}}{{else}}developer-{{/if}}
             {{#is_false_array perl_module name repo example_query}} missing-all {{#unless perl_module}}missing-perl_module{{/unless}} {{#unless name}}missing-name{{/unless}} {{#unless repo}}missing-type{{/unless}} {{#unless example_query}}missing-example_query{{/unless}} {{else}}missing-{{/is_false_array}}">
                  {{#if ../../permissions.admin}}
                    <i class="icon-check-empty left" />
                {{/if}}         
                <div class="ia-item--stamp circle stamp--{{repo}} left"></div>
                <div class="left item-name">
                    <a href="/ia/view/{{id}}">{{name}}</a>
                </div>
                <div class="right item-activity">
                    {{#if pr}}
                        <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}" class="one-line" id="pr">
                            PR
                        </a>
                        
                    {{/if}}
                    <span title="{{format_time last_update}}">
                        {{timeago last_update}}
                    </span>
                </div>
                <span class="clearfix"></span>
                <div class="activity-details hide">
                    {{#is_before last_comment.date last_commit.date}}
                        <div class="new-commit one-line">
                            <i class="icon icon-circle" />
                            New commit: <a href="{{last_commit.diff}}">{{last_commit.message}}</a>
                        </div>
                    {{/is_before}}
                    {{#if last_comment}}
                        <div class="last-comment one-line">
                            <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}#issuecomment-{{last_comment.id}}">
                                <i class="icon icon-bubbles" />
                                Last comment by {{last_comment.user}}
                            </a>
                       </div>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
</div>

<div class="dev_pipeline-column left" id="pipeline-complete">
    <h2 class="dev_pipeline-column__title">
        Complete ({{length complete}})
    </h2>

    <ul class="dev_pipeline-column__list" id="pipeline-complete__list">
        {{#each complete}}
            <li id="pipeline-list__{{id}}" class="{{#if can_edit}}can_edit{{/if}} producer-{{#if producer}}{{slug producer}}{{/if}} designer-{{designer}} {{#if developer}}{{#each developer}}developer-{{slug name}} {{/each}}{{else}}developer-{{/if}}
             {{#is_false_array perl_module name repo example_query}} missing-all {{#unless perl_module}}missing-perl_module{{/unless}} {{#unless name}}missing-name{{/unless}} {{#unless repo}}missing-type{{/unless}} {{#unless example_query}}missing-example_query{{/unless}} {{else}}missing-{{/is_false_array}}">
                 {{#if ../../permissions.admin}}
                    <i class="icon-check-empty left" />
                {{/if}}
                <div class="ia-item--stamp circle stamp--{{repo}} left"></div>
                <div class="left item-name">
                    <a href="/ia/view/{{id}}">{{name}}</a>
                </div>
                <div class="right item-activity">
                    {{#if pr}}
                        <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}" class="one-line" id="pr">
                            PR
                        </a>
                        
                    {{/if}}
                    <span title="{{format_time last_update}}">
                        {{timeago last_update}}
                    </span>
                </div>
                <span class="clearfix"></span>
                <div class="activity-details hide">
                    {{#is_before last_comment.date last_commit.date}}
                        <div class="new-commit one-line">
                            <i class="icon icon-circle" />
                            New commit: <a href="{{last_commit.diff}}">{{last_commit.message}}</a>
                        </div>
                    {{/is_before}}
                    {{#if last_comment}}
                        <div class="last-comment one-line">
                            <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}#issuecomment-{{last_comment.id}}">
                                <i class="icon icon-bubbles" />
                                Last comment by {{last_comment.user}}
                            </a>
                       </div>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
</div>
{{/with}}
</div>
