<div class="gw">
{{#with dev_milestones}}

<div class="dev_pipeline-column quarter g" id="pipeline-planning">
  <div class="dev_pipeline-column--container">
    <h2 class="dev_pipeline-column__title">
        <span class="left">Planning </span> <span class="milestone-count right">{{length planning}}</span>
        <span class="clearfix"></span>
    </h2>
    <ul class="dev_pipeline-column__list" id="pipeline-planning__list">
        {{#each planning}}
            <li id="pipeline-list__{{id}}" class="{{#if pr}}{{#each pr.tags}}{{#eq (slug name) 'priorityhigh'}} important {{/eq}}{{/each}}{{/if}}{{#if can_edit}}can_edit{{/if}} producer-{{#if producer}}{{slug producer}}{{/if}} designer-{{designer}} {{#if developer}}{{#each developer}}developer-{{slug name}} {{/each}}{{else}}developer-{{/if}}
             {{#is_false_array perl_module name repo example_query producer developer}} missing {{/is_false_array}}
             {{#each at_mentions}}{{#eq ../../../username name}} mentioned {{/eq}}{{/each}}">
                <div class="item-name pipeline__stamp-{{repo}}">
                    <a href="/ia/view/{{id}}">{{name}}</a>
                    <div class="right item-activity">
                      {{#exists pr 'issue_id'}}
                      <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}" class="one-line" id="pr">
                        PR 
                      </a>
                      {{/exists}}
                      <span title="{{format_time last_update}}">
                        {{timeago last_update}}
                      </span>
                    </div>
                </div>
                <span class="clearfix"></span>
                <div class="activity-details hide">
                    {{#is_before last_comment.date last_commit.date}}
                        <div class="new-commit one-line">
                            <i class="icon icon-circle" />
                            New commit: <a href="{{last_commit.diff}}">{{last_commit.message}}</a>
                        </div>
                    {{/is_before}}
                    {{#if last_comment}}
                        <div class="last-comment one-line">
                            <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}#issuecomment-{{last_comment.id}}">
                                <i class="icon icon-bubbles" />
                                Last comment by {{last_comment.user}}
                            </a>
                       </div>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
    </div>
</div>

<div class="dev_pipeline-column quarter g" id="pipeline-development">
  <div class="dev_pipeline-column--container">
    <h2 class="dev_pipeline-column__title">
        <span class="left">Development </span> <span class="milestone-count right">{{length development}}</span>
        <span class="clearfix">
    </h2>

    <ul class="dev_pipeline-column__list" id="pipeline-development__list">
        {{#each development}}
            <li id="pipeline-list__{{id}}" class="{{#if pr}}{{#each pr.tags}}{{#eq (slug name) 'priorityhigh'}} important {{/eq}}{{/each}}{{/if}} {{#if can_edit}}can_edit{{/if}} producer-{{#if producer}}{{slug producer}}{{/if}} designer-{{designer}} {{#if developer}}{{#each developer}}developer-{{slug name}} {{/each}}{{else}}developer-{{/if}}
             {{#is_false_array perl_module name repo example_query producer developer}} missing {{/is_false_array}}
             {{#each at_mentions}}{{#eq ../../../username name}} mentioned {{/eq}}{{/each}}">
                <div class="item-name pipeline__stamp-{{repo}}">
                    <a href="/ia/view/{{id}}">{{name}}</a>
                    <div class="right item-activity">
                      {{#exists pr 'issue_id'}}
                      <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}" class="one-line" id="pr">
			            PR 
                      </a>
                  
                      {{/exists}}
                      <span title="{{format_time last_update}}">
			            {{timeago last_update}}
                      </span>
                    </div>
                </div>
                <span class="clearfix"></span>
                <div class="activity-details hide">
                    {{#is_before last_comment.date last_commit.date}}
                        <div class="new-commit one-line">
                            <i class="icon icon-circle" />
                            New commit: <a href="{{last_commit.diff}}">{{last_commit.message}}</a>
                        </div>
                    {{/is_before}}
                    {{#if last_comment}}
                        <div class="last-comment one-line">
                            <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}#issuecomment-{{last_comment.id}}">
                                <i class="icon icon-bubbles" />
                                Last comment by {{last_comment.user}}
                            </a>
                       </div>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
    </div>
</div>

<div class="dev_pipeline-column quarter g" id="pipeline-testing">
  <div class="dev_pipeline-column--container">
    <h2 class="dev_pipeline-column__title">
        <span class="left">Testing </span> <span class="milestone-count right"> {{length testing}} </span>
        <span class="clearfix"></span>
    </h2>

    <ul class="dev_pipeline-column__list" id="pipeline-testing__list">
        {{#each testing}}
            <li id="pipeline-list__{{id}}" class="{{#if pr}}{{#each pr.tags}}{{#eq (slug name) 'priorityhigh'}} important {{/eq}}{{/each}}{{/if}} {{#if can_edit}}can_edit{{/if}} producer-{{#if producer}}{{slug producer}}{{/if}} designer-{{designer}} {{#if developer}}{{#each developer}}developer-{{slug name}} {{/each}}{{else}}developer-{{/if}}
             {{#is_false_array perl_module name repo example_query producer developer}} missing {{/is_false_array}}
             {{#each at_mentions}}{{#eq ../../../username name}} mentioned {{/eq}}{{/each}}">
                <div class="item-name pipeline__stamp-{{repo}}">
                    <a href="/ia/view/{{id}}">{{name}}</a>
                    <div class="right item-activity">
                      {{#exists pr 'issue_id'}}
                      <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}" class="one-line" id="pr">
                        PR
                      </a>
                      
                      {{/exists}}
                      <span title="{{format_time last_update}}">
                        {{timeago last_update}}
                      </span>
                    </div>
                </div>
                <span class="clearfix"></span>
                <div class="activity-details hide">
                    {{#is_before last_comment.date last_commit.date}}
                        <div class="new-commit one-line">
                            <i class="icon icon-circle" />
                            New commit: <a href="{{last_commit.diff}}">{{last_commit.message}}</a>
                        </div>
                    {{/is_before}}
                    {{#if last_comment}}
                        <div class="last-comment one-line">
                            <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}#issuecomment-{{last_comment.id}}">
                                <i class="icon icon-bubbles" />
                                Last comment by {{last_comment.user}}
                            </a>
                       </div>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
    </div>
</div>

<div class="dev_pipeline-column quarter g" id="pipeline-complete">
   <div class="dev_pipeline-column--container">
    <h2 class="dev_pipeline-column__title">
        <span class="left">Complete </span> <span class="milestone-count right"> {{length complete}} </span>
        <span class="clearfix"></span>
    </h2>

    <ul class="dev_pipeline-column__list" id="pipeline-complete__list">
        {{#each complete}}
            <li id="pipeline-list__{{id}}" class="{{#if pr}}{{#each pr.tags}}{{#eq (slug name) 'priorityhigh'}} important {{/eq}}{{/each}}{{/if}} {{#if can_edit}}can_edit{{/if}} producer-{{#if producer}}{{slug producer}}{{/if}} designer-{{designer}} {{#if developer}}{{#each developer}}developer-{{slug name}} {{/each}}{{else}}developer-{{/if}}
             {{#is_false_array perl_module name repo example_query producer developer}} missing {{/is_false_array}}
             {{#each at_mentions}}{{#eq ../../../username name}} mentioned {{/eq}}{{/each}}">
                <div class="item-name pipeline__stamp-{{repo}}">
                    <a href="/ia/view/{{id}}">{{name}}</a>
                    <div class="right item-activity">
                      {{#exists pr 'issue_id'}}
                      <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}" class="one-line" id="pr">
                        PR
                      </a>
                      
                      {{/exists}}
                      <span title="{{format_time last_update}}">
                        {{timeago last_update}}
                      </span>
                    </div>
                </div>
                <span class="clearfix"></span>
                <div class="activity-details hide">
                    {{#is_before last_comment.date last_commit.date}}
                        <div class="new-commit one-line">
                            <i class="icon icon-circle" />
                            New commit: <a href="{{last_commit.diff}}">{{last_commit.message}}</a>
                        </div>
                    {{/is_before}}
                    {{#if last_comment}}
                        <div class="last-comment one-line">
                            <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}#issuecomment-{{last_comment.id}}">
                                <i class="icon icon-bubbles" />
                                Last comment by {{last_comment.user}}
                            </a>
                       </div>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
    </div>
</div>
{{/with}}
</div>
