<div id="sidebar-top" class="clearfix {{#unless permissions.admin}}sidebar-logged-out{{/unless}}">
  <span class="left">
    {{#if pr}}{{#each pr.tags}}{{#eq (slug name) 'priorityhigh'}} 
        <span class="sep--after">
            <i class="icon-star-empty" />
        </span>
    {{/eq}}{{/each}}{{/if}}
    {{#if permissions.admin}}
	<span class="sep--after">
          <span class="edit-sidebar frm__select" id="edit-sidebar-repo">
            <select>
              <option value="0">{{repo}}</option>
              {{#not_eq repo 'fathead'}}<option value="1">fathead</option>{{/not_eq}}
              {{#not_eq repo 'goodies'}}<option value="2">goodies</option>{{/not_eq}}
              {{#not_eq repo 'longtail'}}<option value="3">longtail</option>{{/not_eq}}
              {{#not_eq repo 'spice'}}<option value="4">spice</option>{{/not_eq}}
            </select>
          </span>
	</span>

        <span class="edit-sidebar frm__select" id="edit-sidebar-dev_milestone" style="width: 9em">
            <select>
                <option value="0">{{dev_milestone}}</option>
                {{#not_eq dev_milestone 'planning'}}<option value="1">planning</option>{{/not_eq}}
                {{#not_eq dev_milestone 'development'}}<option value="2">development</option>{{/not_eq}}
                {{#not_eq dev_milestone 'testing'}}<option value="3">testing</option>{{/not_eq}}
                {{#not_eq dev_milestone 'complete'}}<option value="4">complete</option>{{/not_eq}}
                <option value="5">live</option>
                <option value="6">ghosted</option>
            </select>
        </span>
    {{else}}
        {{#if repo}}
            <span class="sep--after"> {{repo}} </span>
            
        {{/if}}
        <span> {{dev_milestone}} </span>
    {{/if}}
  </span>

    <span id="sidebar-close" class="right"> <i class="ddgsi ddgsi-close"></i> </span>
</div>

{{#if permissions.admin}}

    <h2 id="sidebar-name">
        <input class="edit-sidebar" data-focus-class="frm__input" id="edit-sidebar-name" value="{{name}}" />
    </h2>

    <input class="edit-sidebar" style="height: initial" id="edit-sidebar-id" value="{{id}}" />

    <div class="sidebar-field">
        <div class="field-label primary-label"> Description </div>
        <textarea rows="3" cols="50" data-focus-class="frm__text" class="edit-sidebar" id="edit-sidebar-description">{{description}}</textarea>
    </div>

    <div class="sidebar-field">
        <div class="field-label primary-label"> Example Query </div>
        <input class="edit-sidebar" data-focus-class="frm__input" id="edit-sidebar-example_query" value="{{example_query}}" />
    </div>

    <div class="sidebar-field">
        <div class="field-label primary-label"> Perl Module </div>
        <input class="edit-sidebar" data-focus-class="frm__input" id="edit-sidebar-perl_module" value="{{perl_module}}" />
    </div>

    <div class="sidebar-field">
        <div class="field-label primary-label"> Producer </div>
        <input class="edit-sidebar" data-focus-class="frm__input" id="edit-sidebar-producer" value="{{producer}}" />
    </div>

    <div class="sidebar-field">
        <div class="field-label primary-label"> Template </div>
        <input class="edit-sidebar" data-focus-class="frm__input" id="edit-sidebar-template" value="{{template}}" />
    </div>

    <div class="sidebar-field">
        <div class="field-label primary-label"> Asana Tasks </div>
        {{#if asana}}
            <span class="readonly">
                <a href="https://app.asana.com/0/0/{{asana.asana_id}}">One open task</a>
            </span>
        {{else}}
            <div class="button btn--primary" id="asana-create">Create Task</div>
        {{/if}}
    </div>
    
    {{#if pr.issue_id}}
        <div class="sidebar-field">
            <div class="field-label primary-label"> Dev Machine </div>
            {{#eq beta_install 'success'}}
                <p>Installed on <a href="http://beta.duckduckgo.com/{{#if beta_query}}?q={{beta_query}}{{/if}}">beta</a></p>
                <div class="button btn--primary" id="beta-single">Re-install on beta</div>
            {{else}}
                {{#eq pr.status 'open'}}
                    {{#if beta_install}}Install on beta failed: <div class="readonly">{{beta_install}}</div>{{/if}}
                    <div class="button btn--primary" id="beta-single">Install on beta</div>
                {{else}}
                    <span></span>
                {{/eq}}
            {{/eq}}
        </div>
    {{/if}}

    {{#if priority_msg}}
        <div class="sidebar-field">
            <div class="field-label primary-label">Priority</div>
            <span class="readonly">{{newlines priority_msg}}</span>
        </div>
    {{/if}}
{{else}}
    {{#if name}}
      <h2 id="sidebar-name"> {{name}} </h2>
    {{/if}}

    {{#if id}}
        <div id="sidebar-id">
            <span> {{id}} </span>
        </div>
    {{/if}}

    {{#if description}}
        <div id="sidebar-desc" class="sidebar-field">
            <div class="field-label primary-label"> Description </div>
            <span class="readonly"> {{description}} </span>
        </div>
    {{/if}}

    {{#if example_query}}
        <div id="sidebar-example" class="sidebar-field">
            <div class="field-label primary-label"> Example Query </div>
            <span class="readonly"> {{example_query}} </span>
        </div>
    {{/if}}

    {{#if perl_module}}
        <div id="sidebar-perl_module" class="sidebar-field">
            <div class="field-label primary-label"> Perl Module </div>
            <span class="readonly"> {{perl_module}} </span>
        </div>
    {{/if}}
{{/if}}

{{#if pr.status}}
    {{#eq pr.status 'open'}}
        <hr />

        <div id="sidebar-pr">
            <div class="left">
                <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.issue_id}}" class="one-line" id="pr">
                    PR #{{pr.issue_id}}
                </a>
            </div>
            <div class="right" title="{{format_time last_update}}">
                <i class="ddgsi ddgsi-clock" />
                {{timeago last_update}}
            </div>
            {{#if last_comment}}
                <div class="right" id="all_comments">
                    <i class="ddgsi ddgsi-comment" />
                    {{length all_comments}}
                </div>
            {{/if}}

            <span class="clearfix"></span>
            
            {{#each all_comments}}
                <p class="comment">
                    <a href="https://github.com/duckduckgo/zeroclickinfo-{{../repo}}/issues/{{../pr.issue_id}}#issuecomment-{{id}}">
                        {{text}}
                    </a>
                </p>
                <div>by <a href="https://github.com/{{user}}">{{user}}</a> {{timeago date 1}}</div>
            {{/each}}
        </div>
    {{/eq}}
{{/if}}

