<div class="ia-single--info">
  {{#if code}}
    <div class="ia-single--header">GITHUB FILES</div>
    <ul>
      {{#each code}}
        <a class="one-line" href="https://github.com/duckduckgo/zeroclickinfo-{{../repo}}/tree/master/{{this}}">{{this}}</a>
      {{/each}}
    </ul>
  {{/if}}

<!--
  {{#moreFiles code}}
    <div class="show-more">
      <a id="show-more--link" href="#">Show More</a>
      <a href="#">
        <span class="ddgsi ddgsi-chev-down right circle"></span>
      </a>
    </div>
  {{/moreFiles}}
</div>
-->

<!--
<div class="button new-issue">
  <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/new?&title=issue+title&body=http%3A%2F%2Fduck.co%2Fia%2Fview%2F{{id}}">
  + Add an Issue
  </a>
</div>
<span class="clearfix"></span>
-->

<div class="ia-issues ia-single--info">
  <div class="ia-single--header">ISSUES</div>
  {{#if issues.length}}
    <ul>
      {{#each issues}}
        <li>
          <a class="one-line" href="https://github.com/duckduckgo/zeroclickinfo-{{../repo}}/issues/{{issue_id}}">{{title}}</a>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  <div class="create-issue">
    <a id="create-issue--link" href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/new?&title=issue+title&body=http%3A%2F%2Fduck.co%2Fia%2Fview%2F{{id}}">Create Issue</a>
    <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/new?&title=issue+title&body=http%3A%2F%2Fduck.co%2Fia%2Fview%2F{{id}}">
    <span class="ddgsi ddgsi-next right circle"></span>
    </a>
  </div>
</div>


<!--
<div class="dev-info-details">
    <table class="iadata">
        <tr>
            <td><strong>Id:</strong></td>
            <td>{{id}}</td>
        </tr>
        {{#if code}}
            <tr>
                <td><strong>Code:</strong></td>
                <td>
                    {{#each code}}
                        <li>{{this}}</li>
                    {{/each}}
                </td>
            </tr>
        {{/if}}
        {{#if attribution}}
            <tr>
                <td><strong>Credits:</strong></td>
                <td>
                    {{#each attribution}}
                        <li><a href="{{this.0.loc}}">{{this.0.type}}</a></li>
                    {{/each}}
                </td>
            </tr>
        {{/if}}
    </table>

    <hr>

    <p class="left"><strong>Issues</strong></p>

    <div class="right button new-issue">
        <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/new?&title=issue+title&body=http%3A%2F%2Fduck.co%2Fia%2Fview%2F{{id}}">
            + Add an Issue
        </a>
    </div>
    <span class="clearfix"></span>

    {{#each issues}}
        <div class="issue tag left">
            <a href="https://github.com/duckduckgo/zeroclickinfo-{{../repo}}/issues/{{issue_id}}">
                <span class="title left">{{title}}</span>
                {{#each tags}}
                    <div class="issue_tag left" style="background-color:#{{color}};">{{name}}</div>
                {{/each}}
                <p class="issue_desc clearfix">{{body}}</p>
            </a>
        </div>
    {{/each}}
</div>
-->