{{#ne_and dev_milestone 'live' 'deprecated'}}
    <div class="ia-single--info">
        <h3 class="ia-single--header">ID {{#if permissions.admin}}<a href="#" class="devpage-edit" id="dev-edit-id">Edit</a>{{/if}}</h3>
        {{id}}
    </div>

    {{#if pr}}
        <div class="ia-single--info">
            <h3 class="ia-single--header">PR #</h3>
            <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.id}}" class="one-line" id="pr">
                {{pr.id}}
            </a>
        </div>
    {{/if}}

    <div class="ia-single--info">
        <h3 class="ia-single--header">Dev Machine {{#if permissions.admin}}<a href="#" class="devpage-edit" id="dev-edit-id">Edit</a>{{/if}}</h3>
        {{#if permissions.admin}}
            <span class="frm__select hide">
            <select class="test_machine js-autocommit" tabindex="-1" id="test_machine-select">
                {{#if test_machine}}<option value="0">{{test_machine}}</option>{{/if}}
                <option value=""> --- </option>
                {{#not_eq test_machine 'ddh1'}}<option value="1">ddh1</option>{{/not_eq}}
                {{#not_eq test_machine 'ddh2'}}<option value="2">ddh2</option>{{/not_eq}}
                {{#not_eq test_machine 'ddh3'}}<option value="3">ddh3</option>{{/not_eq}}
                {{#not_eq test_machine 'ddh4'}}<option value="4">ddh4</option>{{/not_eq}}
                {{#not_eq test_machine 'ddh5'}}<option value="5">ddh5</option>{{/not_eq}}
                {{#not_eq test_machine 'ddh6'}}<option value="6">ddh6</option>{{/not_eq}}
                {{#not_eq test_machine 'ddh7'}}<option value="7">ddh7</option>{{/not_eq}}
                {{#not_eq test_machine 'ddh8'}}<option value="8">ddh8</option>{{/not_eq}}
                {{#not_eq test_machine 'ddh9'}}<option value="9">ddh9</option>{{/not_eq}}
                {{#not_eq test_machine 'ddh10'}}<option value="10">ddh10</option>{{/not_eq}}
            </select>
            </span>
        {{/if}}
        
        {{#if test_machine}}
            <span class="readonly--info" id="test_machine--readonly">{{test_machine}}</span>
        {{else}}
            No dev machine
        {{/if}}
    </div>
{{/ne_and}}

<div class="ia-attribution ia-single--info">
  {{#if developer}}
    <h3 class="ia-single--header">Contributors 
    {{#if permissions.can_edit}}
        {{#ne_and dev_milestone 'live' 'deprecated'}}
            <a href="#" class="devpage-edit" id="dev-edit-id">Edit</a>
        {{/ne_and}}
    {{/if}}
    </h3>
    <ul>
      {{#each developer}}
        <li><a href="{{url}}" class="one-line">{{name}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
</div>

<div class="ia-single--info">
  {{#if back_end}}
    <h3 class="ia-single--header">Back-End Files</h3>
    <ul>
      {{#each back_end}}
        <li>
        <a class="one-line" href="https://github.com/duckduckgo/zeroclickinfo-{{../repo}}/tree/master/{{this}}">{{final_path this}}</a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>

<div class="ia-single--info">
  {{#if front_end}}
    <h3 class="ia-single--header">Front-End Files</h3>
    <ul>
      {{#each front_end}}
        <li>
        <a class="one-line" href="https://github.com/duckduckgo/zeroclickinfo-{{../repo}}/tree/master/{{this}}">{{final_path this}}</a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>

