{{#ne_and dev_milestone 'live' 'deprecated'}}
    <div class="ia-single--info">
        <h3 class="ia-single--header">
            <span {{#ne_and dev_milestone 'live' 'deprecated'}}{{#if permissions.admin}}class="asterisk"{{/if}}{{/ne_and}}>ID</span>
        {{#if permissions.admin}}
            {{#ne_and dev_milestone 'live' 'deprecated'}}
                <a href="#" class="devpage-edit {{#exists staged 'id'}}hide{{/exists}}" id="dev-edit-id">Edit</a>
                <a href="#" class="devpage-commit sep--after {{#n_exists staged 'id'}}hide{{/n_exists}}" id="dev-commit-id">Commit</a>
                <a href="#" class="devpage-cancel {{#n_exists staged 'id'}}hide{{/n_exists}}" id="dev-cancel-id">Cancel</a>
            {{/ne_and}}
        {{/if}}
        </h3>

        <span class="readonly--info {{#exists staged 'id'}}hide{{/exists}}" id="id--readonly">
            {{id}}
        </span>

        {{#if permissions.admin}}
            <input type="text" class="{{#n_exists staged 'id'}}hide{{/n_exists}} frm__input id js-autocommit hidden-toshow" id="id-input" value="{{#exists staged 'id'}}{{staged.id}}{{else}}{{id}}{{/exists}}" />
            <span class="error-notification hide">ID can't be empty</span>
        {{/if}}
    </div>

    {{#if pr}}
        <div class="ia-single--info">
            <h3 class="ia-single--header">PR #</h3>
            <a href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{pr.id}}" class="one-line" id="pr">
                {{pr.id}}
            </a>
        </div>
    {{/if}}

    <div class="ia-single--info">
        <h3 class="ia-single--header">Dev Machine</h3>

        {{#if permissions.admin}}
            {{#eq beta_install 'success'}}
                <p>Installed on <a href="http://beta.duckduckgo.com/{{#if beta_query}}?q={{beta_query}}{{/if}}">beta</a></p>
                {{#if pr.id}}
                    <div class="button btn--primary {{#if staged.beta}}disabled{{/if}}" id="beta-install">Re-install on beta</div>
                {{/if}}
            {{else}}
                {{#if beta_install}}
                    <p class="not-saved">Install on beta failed: {{beta_install}}</p>
                {{/if}}
                {{#if pr.id}}
                    <div class="button btn--primary {{#if staged.beta}}disabled{{/if}}" id="beta-install">Install on beta</div>
                {{else}}
                    <p> Can't install on beta without a PR </p>
                {{/if}}
            {{/eq}}
        {{else}}
            <span class="readonly--info" id="test_machine--readonly">
                {{#eq beta_install 'success'}}
                    Installed on <a href="http://beta.duckduckgo.com/{{#if beta_query}}?q={{beta_query}}{{/if}}">beta</a>
                {{else}}
                    <span class="no-available">
                        Not yet installed on beta
                    </span>
                {{/eq}}
            </span>
        {{/if}}
    </div>
{{/ne_and}}

<div class="ia-attribution ia-single--info">
    <h3 class="ia-single--header">Contributors
    {{#if permissions.can_edit}}
        {{#ne_and dev_milestone 'live' 'deprecated'}}
            <a href="#" class="devpage-edit-popup" id="dev-edit-contributors">Edit</a>
            <div id="edit-modal" class="hide"></div>
        {{/ne_and}}
    {{/if}}
    </h3>
    <ul>
      {{#if developer}}
        {{#each developer}}
          <li><a href="{{url}}" class="one-line">{{name}}</a></li>
        {{/each}}
      {{else}}
        <span class="no-available">No contributors yet.</span>
      {{/if}}
    </ul>
</div>

<div class="ia-single--info">
  {{#if back_end}}
    <h3 class="ia-single--header">Back-End Files</h3>
    <ul>
      {{#each back_end}}
        <li>
        <a class="one-line" href="https://github.com/duckduckgo/zeroclickinfo-{{../repo}}/tree/master/{{this}}">{{final_path this}}</a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>

<div class="ia-single--info">
  {{#if front_end}}
    <h3 class="ia-single--header">Front-End Files</h3>
    <ul>
      {{#each front_end}}
        <li>
        <a class="one-line" href="https://github.com/duckduckgo/zeroclickinfo-{{../repo}}/tree/master/{{this}}">{{final_path this}}</a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>

<div class="hide edit-popup" id="contributors-popup">
    <h3 class="ia-single--header">Contributors</h3>
    {{#if permissions.admin}}
        <div class="producer-contributor">
            <h3 class="second-header">Producer</h3>
            <div class="half half--screen-s frm__input">
                <input type="text" class="producer js-autocommit hidden-toshow team-input" id="producer-input" value="{{producer}}" />
                <span class="pull-right hide"><i class="ddgsi-check-sign"></i></span>
                <span class="pull-right hide"><i class="ddgsi ddgsi-warning"></i></span>
            </div>
            <div class="half half--screen-s g">
              <div class="js-autocommit hidden-toshow assign-button btn eighty" id="producer-button">
                Assign to me
              </div>
            </div>
        </div>
    {{/if}}

    <span class="clearfix"></span>

    <h3 class="second-header">Developer</h3>
    <ul class="parent-group" id="developer-group">
        {{#if developer}}
            {{#each developer}}
                <li class="js-autocommit hidden-toshow developer">
                    <div class="half half--screen-s frm__input">
                        <span class="developer_username type-{{type}}">
                            <input type="text" class="group-vals" {{#eq type 'legacy'}}value="{{url}}" disabled="disabled"{{else}}value="{{final_path url}}"{{/eq}}/>
                        </span>
                        <span class="pull-right hide"><i class="ddgsi-check-sign"></i></span>
                        <span class="pull-right hide"><i class="ddgsi-warning"></i></span>
                    </div>
                    <div class="half half--screen-s g">
                        <span class="frm__select eighty">
                            <select class="available_types left" tabindex="-1" {{#eq type 'legacy'}}disabled="disabled"{{/eq}}>
                                {{#if type}}<option value="0">{{type}}</option>{{/if}}
                                {{#not_eq type 'duck.co'}}<option value="1">duck.co</option>{{/not_eq}}
                                {{#not_eq type 'github'}}<option value="2">github</option>{{/not_eq}}
                                {{#not_eq type 'ddg'}}<option value="3">ddg</option>{{/not_eq}}
                            </select>
                        </span>
                        <span class="delete twenty g"><i class="ddgsi-close"></i></span>
                    </div>
                </li>
            {{/each}}
        {{/if}}
        <li class="hide new_input js-autocommit hidden-toshow developer">
            <div class="half half--screen-s frm__input">
                <span class="developer_username">
                    <input class="group-vals" type="text"/>
                </span>
                <span class="pull-right hide"><i class="ddgsi-check-sign"></i></span>
                <span class="pull-right hide"><i class="ddgsi-warning"></i></span>
            </div>
            <div class="half half--screen-s g">
                <span class="frm__select eighty">
                  <select class="available_types" tabindex="-1">
                    <option value="0">duck.co</option>
                    <option value="1">github</option>
                    <option value="3">ddg</option>
                  </select>
                </span>
                <span class="delete twenty g"><i class="ddgsi-close"></i></span>
            </div>
        </li>
        <li id="add_developer">
            <a href="#" class="one-line add_input left" id="add_developer" title="Add developer">
               Add Developer
            </a>
        </li>
    </ul>

    <span class="clearfix"></span>

    <div class="cancel-save">
        <div class="btn pull-left cancel-button-popup">Cancel</div>
        <div class="btn btn--primary pull-right save-button-popup">Save</div>
    </div>
</div>
