<div class="ia-attribution ia-single--info">
  {{#if developer}}
    <div class="ia-single--header">Contributors</div>
    <ul>
      {{#each developer}}
        <li><a href="{{url}}" class="one-line">{{name}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
</div>

<div class="ia-single--info">
  {{#if code}}
    <div class="ia-single--header">Source Files</div>
    <ul>
      {{#each code}}
        <li>
        <a class="one-line" href="https://github.com/duckduckgo/zeroclickinfo-{{../repo}}/tree/master/{{this}}">{{this}}</a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>

