<div class="ia-attribution ia-single--info">
  {{#if developer}}
    <h3 class="ia-single--header">Contributors</h3>
    <ul>
      {{#each developer}}
        <li><a href="{{url}}" class="one-line">{{name}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
</div>

<div class="ia-single--info">
  {{#if back_end}}
    <h3 class="ia-single--header">Back-End Files</h3>
    <ul>
      {{#each back_end}}
        <li>
        <a class="one-line" href="https://github.com/duckduckgo/zeroclickinfo-{{../repo}}/tree/master/{{this}}">{{final_path this}}</a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>

<div class="ia-single--info">
  {{#if front_end}}
    <h3 class="ia-single--header">Front-End Files</h3>
    <ul>
      {{#each front_end}}
        <li>
        <a class="one-line" href="https://github.com/duckduckgo/zeroclickinfo-{{../repo}}/tree/master/{{this}}">{{final_path this}}</a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>


