<div class="column-right-edits left" id="column-edits-developer">
    <div class="column-right-edits__child js-editable" id="developer" name="developer">
        <ul>
            {{#if developer}}
                {{#each developer}}
                    <li class="editpage left">
                        <div class="button delete listbutton left" name="developer" title="Remove this developer">
                            <i class="icon-remove" />
                        </div>
                        <span name="developer" class="developer left">
                            <input type="text" value="{{this.name}}" {{#eq this.type 'legacy'}}disabled="disabled"{{/eq}}/>
                        </span>
                        {{#eq_or this.type 'duck.co' 'github'}}
                        <span>
                            <select class="available_types left" tabindex="-1" {{#eq this.type 'legacy'}}disabled="disabled"{{/eq}}>
                                {{#if this.type}}<option value="0">{{this.type}}</option>{{/if}}
                                {{#not_eq this.type 'duck.co'}}<option value="1">duck.co</option>{{/not_eq}}
                                {{#not_eq this.type 'github'}}<option value="2">github</option>{{/not_eq}}
                            </select>
                        </span>
                        {{/eq_or}}
                        <span class="developer_username left type-{{this.type}}">
                            <input type="text" {{#eq_or this.type 'duck.co' 'github'}}value="{{final_path this.url}}"{{/eq_or}} {{#eq this.type 'legacy'}}value="{{this.url}}" disabled="disabled"{{/eq}}/>
                        </span>
                    </li>
                    <span class="clearfix"></span>
                {{/each}}
            {{/if}}
            <li class="editpage hide left new_input">
                <div class="button delete listbutton left" name="developer" title="Remove this developer">
                    <i class="icon-remove" />
                </div>
                <span name="developer" class="editable developer left" id="input_developer">
                    <input type="text" value="" />
                </span>
                <select class="available_types left" tabindex="-1">
                    <option value="0">duck.co</option>
                    <option value="1">github</option>
                </select>
                <span class="developer_username left">
                    <input type="text"/>
                </span>
            </li>
            <li class="editpage left add_input" id="add_developer">
                <div class="button listbutton left" id="add_developer_button" title="Add example">
                    <i class="icon-plus" />
                </div>
            </li>
        </ul>
    </div>
</div>

