<div class="column-right-edits left" id="column-edits-topic">
    <div class="column-right-edits__child js-section-editable" id="topic" name="topic">
        {{#each edited.topic}}
            <div class="button ia_topic">
                <div class="button delete listbutton" name="topic" title="Remove this topic"><span>-</span></div>
                <span class="editable" name="topic">
                    <select class="available_topics" tabindex="-1">
                        <option value="0">{{this}}</option>
                        {{#each ../allowed_topics}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </span>
            </div> 
        {{/each}}
        <div class="button ia_topic hide">
            <span class="editable" name="topic">
                <select class="available_topics" id="new_topic" tabindex="-1">
                    <option value="0"></option> 
                    {{#each allowed_topics}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </span>
        </div>
        <div class="button listbutton" id="add_topic" title="Add topic"><span>+</span></div>
   </div>
</div>
