{{#if example_query}}
  <div class="ia-examples ia-single--info">
    <h3 class="ia-single--header">Example Queries</h3>
    <a class="one-line" href="https://duckduckgo.com/?q={{encodeURIComponent example_query}}{{tab_url tab}}" title="try this example on DuckDuckGo">{{example_query}}</a>
    {{#if other_queries}}
        {{#each other_queries}}
            <a class="one-line" href="https://duckduckgo.com/?q={{encodeURIComponent this}}{{tab_url ../tab}}" title="try this example on DuckDuckGo">{{this}}</a>
        {{/each}}
    {{/if}}
  </div>
{{/if}}

<div class="example-container">
  <div class="search-example pull-left">
    <span class="ddgsi-loupe"></span> <span>{{example_query}}</span>
  </div>

  <div class="pull-right">
    <span></span>

    <span class="btn">
      <i class="icon-desktop"></i>
    </span>
    
    <span class="btn">
      <i class="icon-mobile-phone"></i>
    </span>
  </div>

  <span class="clearfix"></span>
</div>
