<div class="ia-examples ia-single--info {{#eq_or dev_milestone 'live' 'deprecated'}}{{#unless example_query}}hide{{/unless}}{{/eq_or}}">
    <h3 class="ia-single--header">Example Queries
        {{#if permissions.can_edit}}
            <a href="#" class="devpage-edit {{#if staged.example_query}}hide{{/if}}" id="dev-edit-example_query">Edit</a>
            <a href="#" class="devpage-commit sep--after {{#unless staged.example_query}}hide{{/unless}}" id="dev-commit-example_query">Commit</a>
            <a href="#" class="devpage-cancel {{#unless staged.example_query}}hide{{/unless}}" id="dev-cancel-example_query">Cancel</a>
        {{/if}}
    </h3>

        {{#if permissions.can_edit}}
            <ul class="hidden-toshow {{#unless staged.example_query}}hide{{/unless}} other_queries parent-group" id="example_query-group">
                {{#if  staged.example_query}}
                    {{#each staged.example_query}}
                        <li>
                            <span class="{{#if @first}}example_query{{else}}other_queries{{/if}} left">
                                <input type="text" value="{{this}}" class="js-autocommit {{#unless @first}}group-vals{{/unless}}" />
                            </span>
                            <div class="button delete listbutton left {{#if @first}}example_query{{else}}other_queries{{/if}}" title="Remove trigger">
                                <i class="icon-remove" />
                            </div>
                        </li>
                        {{#module_zero @index 3}}
                            <span class="clearfix"></span>
                        {{/module_zero}}
                    {{/each}}
                {{else}}
                    {{#if example_query}}
                        <li>
                            <span class="example_query left">
                                <input type="text" value="{{example_query}}" class="js-autocommit" />
                            </span>
                            <div class="button delete listbutton left example_query" title="Remove trigger">
                                <i class="icon-remove" />
                            </div>
                        </li>
                    {{/if}}
                    
                    {{#each other_queries}}
                        <li>
                            <spanclass="other_queries left">
                                <input type="text" value="{{this}}" class="js-autocommit group-vals" />
                            </span>
                            <div class="button delete listbutton left other_queries" title="Remove trigger">
                                <i class="icon-remove" />
                            </div>
                        </li>
                        {{#module_zero @index 3}}
                            <span class="clearfix"></span>
                        {{/module_zero}}
                    {{/each}}
                {{/if}}
                <li class="editpage hide left new_input" id="input_other_queries">
                    <span class="other_queries left"">
                        <input type="text" value="" class="js-autocommit group-vals" />
                    </span>
                    <div class="button delete listbutton left other_queries" title="Remove trigger">
                        <i class="icon-remove" />
                    </div>
                </li>
                <li class="editpage left add_input" id="add_trigger">
                    <div class="button listbutton left" id="add_trigger_button" title="Add trigger">
                        <i class="icon-plus" />
                    </div>
                </li>
            </ul>
        {{/if}}
 

    <div class="readonly--info {{#if staged.example_query}}hide{{/if}}" id="example_query--readonly">
        <a class="one-line" href="https://duckduckgo.com/?q={{encodeURIComponent example_query}}{{tab_url tab}}" title="try this example on DuckDuckGo">{{example_query}}</a>
        {{#if other_queries}}
            {{#each other_queries}}
                <a class="one-line" href="https://duckduckgo.com/?q={{encodeURIComponent this}}{{tab_url ../tab}}" title="try this example on DuckDuckGo">{{this}}</a>
            {{/each}}
        {{/if}}
    </div>
</div>

<div class="example-container">
  <div class="search-example pull-left">
    <span class="ddgsi-loupe"></span> <span>{{example_query}}</span>
  </div>

  <div class="pull-right screenshot-switcher">
    <span class="btn switcher-icon">
      <span class="icon-extra-desktop"><span class="path1"></span><span class="path2"></span></span>
    </span>

    <span class="btn switcher-icon remove-border">
      <span class="icon-extra-mobile add-opacity"><span class="path1"></span><span class="path2"></span></span>
    </span>
  </div>

  {{#ne_and dev_milestone 'live' 'deprecated'}}
    {{#if can_show}}
        <div class="pull-right screenshot-switcher--generate hide">
          <span class="btn btn--primary">Generate Screenshot</span>
        </div>
    {{/if}}
  {{/ne_and}}

  {{#eq_or dev_milestone 'live' 'deprecated'}}
      {{#if ../permissions.can_edit}}
          <div class="pull-right screenshot-switcher--generate hide">
            <span class="btn btn--primary">Generate Screenshot</span>
          </div>
      {{/if}}
  {{/eq_or}}

  <span class="clearfix"></span>
</div>
