<div class="dev_milestone-container__body__label ia-single--header">
    TEMPLATE
</div>
    {{#if permissions.can_edit}}
        <input data-panel="front_end" type="text" class="template dev_milestone-container__body__input js-autocommit" id="template-input" value="{{live.template}}" />
    {{else}}
        <div class="dev_milestone-container__body__readonly" id="template-txt">
           {{live.template}} 
        </div>
    {{/if}}


{{#eq live.repo 'spice'}}
    <div class="dev_milestone-container__body__label ia-single--header">
        API DOCUMENTATION
    </div>
        {{#if permissions.can_edit}}
            <input type="text" data-panel="front_end" class="src_api_documentation dev_milestone-container__body__input js-autocommit" id="src_api_documentation-input" value="{{live.src_api_documentation}}" />
        {{else}}
            <div class="dev_milestone-container__body__readonly" id="src_api_documentation-txt">
                {{live.src_api_documentation}}
            </div>
        {{/if}}
    

    <div class="dev_milestone-container__body__label ia-single--header">
        ANSWERBAR
    </div>
    <div class="dev_milestone-container__body__div">
        <ul class="section-group" id="answerbar-group">
            <li>
                <label class="left">Fallback Timeout (ms):</label>
                    {{#if permissions.admin}}
                        <input type="number" data-panel="front_end" class="answerbar clearfix section-group__item dev_milestone-container__body__input js-autocommit" id="fallback_timeout-input" value="{{live.answerbar.fallback_timeout}}" />
                    {{else}}
                        <div class="clearfix dev_milestone-container__body__readonly" id="fallback_timeout-txt">
                            {{live.answerbar.fallback_timeout}}
                        </div>
                    {{/if}}
                
            </li>
        </ul>
    </div>
    
    <div class="dev_milestone-container__body__label ia-single--header">
        API STATUS PAGE
    </div>
        {{#if permissions.can_edit}}
            <input type="text" data-panel="front_end" class="api_status_page dev_milestone-container__body__input js-autocommit" id="api_status_page-input" value="{{live.api_status_page}}" />
        {{else}}
            <div class="dev_milestone-container__body__readonly" id="api_status_page-txt">
                {{live.api_status_page}}
            </div>
        {{/if}}
{{/eq}}
