{{#eq_or dev_milestone 'live' 'deprecated'}}
<div class="ia-issues ia-single--info">
  <h3 class="ia-single--header left">
      {{#if issues.length}}
        {{issues.length}} {{plural issues.length plural="Issues" singular="Issue"}} on Github
      {{else}}
        No Issues on Github
      {{/if}}
  </h3>
  <a id="create-issue--link" class="btn btn--primary right" 
  href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/new?&title={{name}}%3A%20&body={{#if maintainer}}{{#if maintainer.github}}@{{maintainer.github}}{{/if}}{{/if}} {{#each developer}}{{#eq type 'github'}}@{{final_path url}} {{/eq}}{{/each}}%0A%0A------%0AIA%20Page%3A%20%20http%3A%2F%2Fduck.co%2Fia%2Fview%2F{{id}}">Create Issue</a>
  {{#if issues.length}}
    <ul class="clear">
      {{#each issues}}
        {{#if title}}
            <li {{#gt @index 4}}class="hide"{{/gt}}>
              <div>
                <a class="one-line" href="https://github.com/duckduckgo/zeroclickinfo-{{../../repo}}/issues/{{issue_id}}">{{title}} #{{issue_id}}</a>
                <span class="{{#if tags}}sep--after{{/if}}">
                    {{#loop_n 3 tags}}
                      <span class="tag-grp">
                        <i class="icon-circle" style="color: #{{color}};" /> <span class="tag-name">{{name}}</span>
                      </span>
                    {{/loop_n}}
                </span>
                <span>
                    <span class="date">Created {{parse_date date}} by <a class="author" href="https://github.com/{{author}}">{{author}}</a></span>
                </span>
              </div>
              <span class="clearfix"></span>
            </li>
        {{/if}}
      {{/each}}
    </ul>
    {{#gt issues 5}}
      <a href="#" id="show-all-issues">
        Show All Issues
      </a>
    {{/gt}}
  {{/if}}
</div>
{{/eq_or}}
