<ul id="ia_list">
    {{#each ia}}
        <li>
            <div class="{{dev_milestone}} {{repo}} {{template}} {{#each instant_answer_topics}} {{this.topic.name}} {{/each}}">
                <h3 class="left"><a href="/ia/view/{{id}}">{{name}}</a></h3>
                {{#each instant_answer_topics}}
                    <div class="topic right">
                        {{this.topic.name}}
                    </div>
                {{/each}}
                <p class="clearfix">{{description}}</p>
            </div>
        </li>
    {{/each}}
</ul>
