<ul id="ia-list">
  {{#each ia}}
    <li>
      <div class="ia_dev_milestone-{{dev_milestone}} ia_repo-{{repo}} ia_template-{{template}} {{#each instant_answer_topics}} ia_topic-{{this.topic.id}} {{/each}} ia-item">
        
        <div class="ia-item--stamp circle">G</div>
        
        <div class="ia-item--details">
          <h3 class="left ia-item--header"><a href="/ia/view/{{id}}">{{name}}</a></h3>
          {{#each instant_answer_topics}}
            <div class="topic right">
              {{this.topic.name}}
            </div>
          {{/each}}
          <div class="clearfix">{{description}}</div>
        </div>
        
      </div>
    </li>
  {{/each}}
</ul>
