<ul id="ia-list">
  {{#each ia}}
    {{#skipTest this}}
      <li class="ia-item">
        <div class="ia_dev_milestone-{{dev_milestone}} ia_repo-{{repo}} ia_template-{{template}} {{#each instant_answer_topics}} ia_topic-{{this.topic.id}} {{/each}}">
          
          <div class="ia-item--stamp circle stamp--{{repo}}"></div>
        
          <div class="ia-item--details">
            <div class="ia-item--details--top">
              <h3 class="left ia-item--header"><a href="/ia/view/{{id}}">{{name}}</a></h3>
              {{#each instant_answer_topics}}
                <span class="topic right btn--wire" data-topic="ia_topic-{{this.topic.id}}">
                  {{this.topic.name}}
                </span>
              {{/each}}
            </div>
            <div class="ia-item--details--bottom one-line">{{description}}</div>
            <div class="ia-item--details--img hide">
              <img class="ia-item--img" src="/static/img/duckduckhack/default.png" data-img="https://images.duckduckgo.com/iu/?u={{encodeURIComponent 'https://ia-screenshots.s3.amazonaws.com/'}}{{id}}_desktop.png&f=1">
            </div>
          </div>
          
        </div>
      </li>
    {{/skipTest}}
  {{/each}}
</ul>
