<div class="issues-list">
  <section>
    <header>
      <span class="pull-left tx-clr--dk"><strong>Issues</strong></span>
    </header>
    <ul>
      {{#each ia}}
      {{#each issues}}
      <li class="clearfix">
	<span class="pull-left">
	  <a class="tx-clr--dk one-line issue-name" href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{issue_id}}">
            {{title}}
          </a>
	  <span class="tx-clr--lt">
            opened {{timeago date false}} ago by <a class="tx-clr--lt" href="https://github.com/{{author}}">{{author}}</a> 
	  </span>
	</span>
        <span class="issue-details pull-right">
          <a href="/ia/view/{{ia_id}}" class="tx-clr--lt">{{ia_name}}</a>
        </span>
      </li>
      {{/each}}
      {{/each}}
    </ul>
  </section>
</div>
