<div class="dev_milestone-container__body">
    <div id="metafield_container">

        <div class="field-container quarter">
            {{#if permissions.can_edit}}
                <span class="dev_milestone-container__body__label ia-single--label">
                    Type:
                </span>
                <span class="frm__select">
                  <select class="dev_milestone-container__body__select js-autocommit repo" data-panel="metafields" tabindex="-1" id="repo-select">
                    <option value="0">{{live.repo}}</option>
                    {{#not_eq live.repo 'fathead'}}<option value="1">fathead</option>{{/not_eq}}
                    {{#not_eq live.repo 'goodies'}}<option value="2">goodies</option>{{/not_eq}}
                    {{#not_eq live.repo 'longtail'}}<option value="3">longtail</option>{{/not_eq}}
                    {{#not_eq live.repo 'spice'}}<option value="4">spice</option>{{/not_eq}}
                  </select>
                </span>
            {{else}}
                <div class="dev_milestone-container__body__readonly" id="repo-txt">
                    {{#if live.repo}}
                        <a class="dev_milestone-container__body__readonly__a" href="https://github.com/duckduckgo/zeroclickinfo-{{live.repo}}">
                            {{live.repo}}
                        </a>
                        <a class="dev_milestone-container__body__readonly__a docs-link" href="https://duck.co/duckduckhack/{{live.repo}}_overview">
                            <i class="dev_milestone-container__body__readonly__a__icon docs-link-icon icon-question-sign" />
                        </a>
                    {{else}}
                        none
                    {{/if}}
                </div>
            {{/if}}
        </div>
        
        <div class="field-container quarter">
            {{#if live.pr.id}}    
                <span class="left dev_milestone-container__body__label ia-single--label">
                    PR
                </span>
                <div class="dev_milestone-container__body__readonly" id="pr-txt">
                  <a href="https://github.com/duckduckgo/zeroclickinfo-{{live.repo}}/issues/{{live.pr.id}}" class="dev_milestone-container__body__readonly__a" id="pr">
                      #{{live.pr.id}}
                  </a>
                </div>
            {{/if}}
        </div>
 
        
        <div class="field-container twothird">
            <span class="ia-single--label left {{#if permissions.can_edit}}mg-top--small{{/if}}">
                Topics:
            </span>
            {{#if permissions.can_edit}}
            <div>
              <div class="separator topic-separator left">
                <div data-panel="metafields" class="topic button delete left js-autocommit" name="topic" title="Remove this topic">
                  <i class="ddgsi ddgsi-close-bold">X</i>
                </div>
                <span class="frm__select">
                  <select data-panel="metafields" class="topic js-autocommit topic-group left" id="first-topic-select">
                    <option value="0">{{index live.topic 0}}</option>
                  </select>
                </span>
                <span class="clearfix"></span>
              </div>
              <div class="separator topic-separator left">
                <div data-panel="metafields" class="topic button delete left js-autocommit" name="topic" title="Remove this topic">
                  <i class="ddgsi ddgsi-close-bold">X</i>
                </div>
                <span class="frm__select">
                  <select data-panel="metafields" class="topic js-autocommit topic-group left" id="second-topic-select">
                    <option value="0">{{index live.topic 1}}</option>
                  </select>
                </span>
                <span class="clearfix"></span>
              </div>
              <div class="separator topic-separator left">
                <div data-panel="metafields" class="topic button delete left js-autocommit" name="topic" title="Remove this topic">
                  <i class="ddgsi ddgsi-close-bold">X</i>
                </div>
                <span class="frm__select">
                  <select data-panel="metafields" class="topic js-autocommit topic-group left" id="third-topic-select">
                    <option value="0">{{index live.topic 2}}</option>
                  </select>
                </span>
                <span class="clearfix"></span>
              </div>
            </div>
            {{else}}
              <div id="topic-txt" class="left">
                {{#if live.topic}}
                    {{#each live.topic}}
                        {{this}}{{#unless @last}}, {{/unless}}
                    {{/each}} 
                {{else}}
                    none
                {{/if}}
              </div>
            {{/if}}
            <span class="clearfix"></span>
          </div>

        <span class="clearfix"></span>
    </div>
</div>
