<div id="metafield_container">
  <div id="metafield_container--left" class="left">

    <table>
      <tbody>       
        <tr>
          <td class="up">
            <div class="dev_milestone-container__body__label ia-single--header">
              DESCRIPTION
            </div>
          </td>
          <td>
            {{#if permissions.can_edit}}
              <textarea rows="3" cols="40" class="js-autocommit metafield" id="description-textarea">{{live.description}}</textarea>
              {{else}}
                {{#if live.description}}
                  <div class="dev_milestone-container__body__readonly" id="description_txt">
                    {{live.description}}
                  </div>
                {{/if}}
              {{/if}}   
          </td>
        </tr>
        
        <tr>
          <td>
            <div class="dev_milestone-container__body__label ia-single--header">
              ID
            </div>
          </td>
          <td>
            {{#if live.id}}    
              <div class="dev_milestone-container__body__readonly" id="id-txt">
                {{live.id}}
              </div>
            {{/if}}
          </td>
        </tr>
 
 
        <tr>
          <td>
            <div class="dev_milestone-container__body__label ia-single--header">
              PULL REQUEST
            </div>
          </td>
          <td>
            {{#if live.pr.id}}    
              <div class="dev_milestone-container__body__readonly" id="pr-txt">
                <a href="https://github.com/duckduckgo/zeroclickinfo-{{live.repo}}/issues/{{live.pr.id}}" class="dev_milestone-container__body__readonly__a" id="pr">
                {{live.pr.title}}
                </a>
              </div>
            {{/if}}
          </td>
        </tr>
        
        <tr>
          <td>
            <div class="dev_milestone-container__body__label ia-single--header">
              TEST MACHINE
            </div>
          </td>
          <td>
            {{#if permissions.can_edit}}
              <select class="dev_milestone-container__body__select js-autocommit" tabindex="-1" id="test_machine-select">
                <option value="0">{{live.test_machine}}</option>
                <option value="1">ddh1</option>
                <option value="2">ddh2</option>
                <option value="3">ddh3</option>
                <option value="4">ddh4</option>
                <option value="5">ddh5</option>
                <option value="6">ddh6</option>
                <option value="7">ddh7</option>
                <option value="8">ddh8</option>
                <option value="9">ddh9</option>
                <option value="10">ddh10</option>
              </select>
            {{else}}
              {{#if live.test_machine}}
                <div class="dev_milestone-container__body__readonly" id="test_machine-txt">
                  {{live.test_machine}}
                </div>
              {{/if}}
            {{/if}}
          </td>
        </tr>

        <tr>
          <td>
            <div class="dev_milestone-container__body__label ia-single--header">
              EXAMPLE QUERY
            </div>
          </td>
          <td>
            {{#if permissions.can_edit}}
              <input type="text" class="dev_milestone-container__body__input js-autocommit" id="example_query-input" value="{{live.example_query}}" />
              {{else}}
              {{#if live.example_query}}
                <a href="{{#if live.test_machine}}https://{{live.test_machine}}.duckduckgo.com/?q={{encodeURIComponent live.example_query}}{{tab_url live.tab}}{{/if}}" class="dev_milestone-container__body__readonly" id="example_query-a">
                  {{live.example_query}}
                </a>
              {{/if}}
            {{/if}}
          </td>
        </tr>

        <tr>
          <td>
            <div class="ia-single--header">
              TAB NAME
            </div>
          </td>
          <td>
            {{#if permissions.admin}}
              <input type="text" class="js-autocommit" id="tab-input" value="{{live.tab}}" />
              {{else}}
              {{#if live.tab}}
                <div id="tab-txt">
                  {{live.tab}} 
                </div>
              {{/if}}
            {{/if}}
          </td>
        </tr>
      </tbody>
    </table>        
  </div>

  <div id="metafield_container--right" class="left">
    <table>
      <tbody>
        <tr>
          <td class="{{#if permissions.admin}}up{{/if}}">
            <div class="ia-single--header">
              STATUS
            </div>
          </td>
          <td>
            {{#if permissions.admin}}
              <textarea rows="3" cols="40" class="js-autocommit metafield" id="status-textarea">{{live.status}}</textarea>
            {{else}}
              {{#if live.status}}
                <div id="status-txt">
                  {{live.status}} 
                </div>
              {{/if}}
            {{/if}}
          </td>
        </tr>

        <tr>
          <td>
            <div class="dev_milestone-container__body__label ia-single--header">
              PRODUCER
            </div>
          </td>
          <td>
            {{#if permissions.admin}}
              <input type="text" class="dev_milestone-container__body__input js-autocommit team-input" id="producer-input" value="{{live.producer}}" />
              <div class="dev_milestone-container__body__button js-autocommit button assign-button" id="producer-button">
                Assign to me
              </div>
              {{else}}
              {{#if live.producer}}
                <div class="dev_milestone-container__body__readonly" id="producer-txt">
                  <a href="/user/{{live.producer}}">{{live.producer}}</a>
                </div>
              {{/if}}
            {{/if}}
          </td>
        </tr>

        <tr>
          <td>
            <div class="dev_milestone-container__body__label ia-single--header">
              DESIGNER
            </div>
          </td>

          <td>
            {{#if permissions.admin}}
              <input type="text" class="dev_milestone-container__body__input js-autocommit team-input" id="designer-input" value="{{live.designer}}" />
              <div class="dev_milestone-container__body__button js-autocommit button assign-button" id="designer-button">
                Assign to me
              </div>
              {{else}}
            {{#if live.designer}}
              <div class="dev_milestone-container__body__readonly" id="designer-txt">
                <a href="/user/{{live.designer}}">{{live.designer}}</a>
              </div>
            {{/if}}
            {{/if}}
          </td>
        </tr>

        <tr>
          <td>
            <div class="dev_milestone-container__body__label ia-single--header">
              DEVELOPER
            </div>
          </td>
          <td>
            {{#if permissions.can_edit}}
              <input type="text" class="dev_milestone-container__body__input js-autocommit team-input" id="developer-input" value="{{live.developer.name}}" />
              <div class="dev_milestone-container__body__button js-autocommit button assign-button" id="developer-button">
                Assign to me
              </div>
              {{else}}
              {{#if live.developer}}
                <div class="dev_milestone-container__body__readonly" id="developer-txt">
                  <a href="{{live.developer.url}}">{{live.developer.name}}</a>
                </div>
              {{/if}}
            {{/if}}
          </td>  
        </tr>

        <tr>
          <td class="{{#if permissions.admin}}up{{/if}}">
            <div class="ia-single--header">
              TOPICS
            </div>
          </td>

          <td>
            {{#if permissions.can_edit}}
              <div class="separator topic-separator">
                <div class="button delete listbutton left js-autocommit" name="topic" title="Remove this topic">
                  <i class="icon-remove" />
                </div>
                <select class="js-autocommit topic-group left" id="first-topic-select">
                  <option value="0">{{index live.topic 0}}</option>
                </select>
                <span class="clearfix"></span>
              </div>
              <div class="separator topic-separator">
                <div class="button delete listbutton left js-autocommit" name="topic" title="Remove this topic">
                  <i class="icon-remove" />
                </div>
                <select class="js-autocommit topic-group left" id="second-topic-select">
                  <option value="0">{{index live.topic 1}}</option>
                </select>
                <span class="clearfix"></span>
              </div>
              <div class="separator topic-separator">
                <div class="button delete listbutton left js-autocommit" name="topic" title="Remove this topic">
                  <i class="icon-remove" />
                </div>
                <select class="js-autocommit topic-group left" id="third-topic-select">
                  <option value="0">{{index live.topic 2}}</option>
                </select>
                <span class="clearfix"></span>
              </div>
              <span class="clearfix"></span>
              {{else}}
            {{#if live.topic}}
              <div id="topic-txt">
                {{live.topic}} 
              </div>
            {{/if}}
            {{/if}}
          </td>  
        </tr>
      </tbody>
    </table>
  </div>
  <span class="clearfix"></span>
</div>
