<div class="dev_milestone-container__body">
    <div id="metafield_container">
        <div class="field-container left">          
          {{#if live.pr.id}}
            <div class="dev_milestone-container__body__label ia-single--header">
              PULL REQUEST
            </div>
            {{#if live.pr.id}}    
              <div class="dev_milestone-container__body__readonly" id="pr-txt">
                <a href="https://github.com/duckduckgo/zeroclickinfo-{{live.repo}}/issues/{{live.pr.id}}" class="dev_milestone-container__body__readonly__a" id="pr">
                #{{live.pr.id}}
                </a>
              </div>
            {{/if}}
          {{/if}}
        </div>

        {{#if permissions.admin}}
            <div class="field-container left">
                <div class="dev_milestone-container__body__label ia-single--header">
                    ID
                </div>
                <input data-panel="metafields" type="text" class="frm__input id js-autocommit metafield" id="id-input" value="{{live.id}}" />
            </div>
        {{/if}}

        <div class="field-container left">
            <div class="dev_milestone-container__body__label ia-single--header">
                TYPE
            </div>
            {{#if permissions.can_edit}}
                <span class="frm__select">
                  <select class="dev_milestone-container__body__select js-autocommit repo" data-panel="metafields" tabindex="-1" id="repo-select">
                    <option value="0">{{live.repo}}</option>
                    {{#not_eq live.repo 'fathead'}}<option value="1">fathead</option>{{/not_eq}}
                    {{#not_eq live.repo 'goodies'}}<option value="2">goodies</option>{{/not_eq}}
                    {{#not_eq live.repo 'longtail'}}<option value="3">longtail</option>{{/not_eq}}
                    {{#not_eq live.repo 'spice'}}<option value="4">spice</option>{{/not_eq}}
                  </select>
                </span>
            {{else}}
                <div class="dev_milestone-container__body__readonly" id="repo-txt">
                    {{#if live.repo}}
                        <a class="dev_milestone-container__body__readonly__a" href="https://github.com/duckduckgo/zeroclickinfo-{{live.repo}}">
                            {{live.repo}}
                        </a>
                        <a class="dev_milestone-container__body__readonly__a docs-link" href="https://duck.co/duckduckhack/{{live.repo}}_overview">
                            <i class="dev_milestone-container__body__readonly__a__icon docs-link-icon icon-question-sign" />
                        </a>
                    {{else}}
                        none
                    {{/if}}
                </div>
            {{/if}}
        </div>

        <div class="field-container left">
            <div class="dev_milestone-container__body__label ia-single--header">
                PERL MODULE
            </div>
            {{#if permissions.can_edit}}
                <input data-panel="metafields" type="text" class="frm__input perl_module dev_milestone-container__body__input js-autocommit" id="perl_module-input" value="{{live.perl_module}}" />
            {{else}}
                <div class="dev_milestone-container__body__readonly" id="perl_module-txt">
                    {{#if live.perl_module}}
                        {{live.perl_module}}
                    {{else}}
                        none
                    {{/if}}
                </div>
            {{/if}}
        </div>

        <span class="clearfix"></span>
    </div>
</div>
