<div class="ia-single--name">
    {{#if permissions.admin}}
        {{#eq_or dev_milestone 'live' 'deprecated'}}
            <h2>{{name}}</h2>
        {{else}}
            <input type="text" class="frm__input name top-details js-autocommit" id="name-input" value="{{name}}" />
        {{/eq_or}}
    {{else}}
        <h2>{{name}}</h2>
    {{/if}}
</div>
