<header>
  <span class="pull-left">Instant Answers</span>
  <a class="btn btn--primary pull-right" href="/ia/new_ia">Create Instant Answer</a>
</header>

<section class="clearfix">
{{#each ias}}
    <div class="half {{#eq @key 'new'}}overview__clm--left left{{else}}overview__clm--right right{{/eq}}">
      <header>
	<strong>
	  <span class="pull-left">
	    Recently Live
	  </span>
          <a class="pull-right tx-clr--lt" href="/ia">{{count}} Total</a>
	</strong>
      </header>
        
      <ul class="iap-list clearfix">
        {{#each list}}
        <li>
          <div class="ia_dev_milestone-{{dev_milestone}} ia_repo-{{repo}} ia-item__container clearfix">
            <div class="left ia-item--stamp circle stamp--{{repo}}"></div>
            <a class="left tx-clr--dk" href="/ia/view/{{id}}">{{name}}</a>
              {{#if most_recent}}
                {{#eq @key 'live'}}
                  {{#if live_date}}
                    <span class="tx-clr--lt tx-size--small ia_date right">{{timeago live_date false false}}</span>
                  {{/if}}
                {{else}}
                  {{#if beta_date}}
                    <span class="tx-clr--lt tx-size--small ia_date right">{{timeago beta_date false true}}</span>
                  {{/if}}
                {{/eq}}
              {{/if}}
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
{{/each}}
</section>

<header>
  <span class="pull-left">Top Issues on GitHub</span>
  <a href="http://docs.duckduckhack.com/#improve-a-live-instant-answer" class="btn btn--wire__blue pull-right">Learn How To Contribute</a>
</header>

<div id="top-issues" class="issues-list clearfix">
  {{#each issues}}
  <section>
    <header>
      <span class="pull-left"><strong><a class="tx-clr--dk" href="/ia/dev/issues?tag={{slug name}}">{{name}}</a></strong></span>
      <span class="pull-right">
	<strong>
	  <a class="tx-clr--lt" href="/ia/dev/issues?tag={{issueToFilter @key}}">{{list.length}} Total</a>
        </strong>
      </span>
    </header>
      <ul class="list-container--left__issues issues_col main-tag__left__list">
        {{#loop_n 5 list}}
        <li class="clearfix">
          <span>
	    <a class="tx-clr--dk one-line issue-name" href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{issue_id}}">
              {{title}}
            </a>
	    <span class="tx-clr--lt tx-size--small">
              opened {{timeago date false false}} ago by <a class="tx-clr--lt" href="https://github.com/{{author}}">{{author}}</a> 
	    </span>
	  </span>
          <span class="issue-details pull-right">
            <a href="/ia/view/{{ia_id}}" class="tx-clr--lt tx-size--small">{{ia_name}}</a>
          </span>
        </li>
        {{/loop_n}}
      </ul>
    </section>
    {{/each}}
</div>
