<header>
  <span class="pull-left">Instant Answers</span>
  <a class="btn btn--primary pull-right" href="/ia/new_ia">Create Instant Answer</a>
</header>

<section class="clearfix">
{{#each ias}}
    <div class="half {{#if @first}}overview__clm--left{{else}}overview__clm--right{{/if}}">
      <header>
	<strong>
	  <span class="pull-left">
	    {{#if @first}}
	      Recently Created
	    {{else}}
	      Recently Live
	    {{/if}}
	  </span>
          <a class="pull-right tx-clr--lt" href="/ia{{#eq @key 'new'}}/dev/pipeline{{/eq}}">{{count}} Total</a>
	</strong>
      </header>
        
      <ul class="iap-list clearfix">
        {{#each list}}
        <li>
          <div class="ia_dev_milestone-{{dev_milestone}} ia_repo-{{repo}} ia-item__container clearfix">
            <div class="left ia-item--stamp circle stamp--{{repo}}"></div>
            <a class="left tx-clr--dk" href="/ia/view/{{id}}">{{name}}</a>
              {{#if most_recent}}
                {{#eq @key 'live'}}
                  {{#if live_date}}
                    <span class="ia_date right">{{parse_date live_date}}</span>
                  {{/if}}
                {{else}}
                  {{#if created_date}}
                    <span class="ia_date right">{{parse_date created_date}}</span>
                  {{/if}}
                {{/eq}}
              {{else}}                    
                {{#if issues}}
                    <i class="icon-bug right"></i>
                {{/if}}
                {{#eq @key 'live'}}
                    {{#if edits}}
                      <i class="icon-edit right"></i>
                    {{/if}}
                {{/eq}}
              {{/if}}                      
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
{{/each}}
</section>

<header>
  <span class="pull-left">Top Issues on GitHub</span>
  <a href="https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/CONTRIBUTING.md" class="btn btn--wire__blue pull-right">Learn How To Contribute</a>
</header>

<div id="top-issues" class="issues-list clearfix">
  {{#each issues}}
  <section>
    <header>
      <span class="pull-left tx-clr--dk"><strong>{{name}}</strong></span>
      <span class="pull-right">
	<strong>
	  <a class="tx-clr--lt" href="/ia/dev/issues?tag={{issueToFilter @key}}">{{list.length}} Total</a>
        </strong>
      </span>
    </header>
      <ul class="list-container--left__issues issues_col main-tag__left__list">
        {{#loop_n 5 list}}
        <li class="clearfix">
          <span class="pull-left">
	    <a class="tx-clr--dk one-line issue-name" href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{issue_id}}">
              {{title}}
            </a>
	    <span class="tx-clr--lt">
              opened {{timeago date false}} ago by <a class="tx-clr--lt" href="https://github.com/{{author}}">{{author}}</a> 
	    </span>
	  </span>
          <span class="issue-details pull-right">
            <a href="/ia/view/{{ia_id}}" class="tx-clr--lt">{{ia_name}}</a>
          </span>
        </li>
        {{/loop_n}}
      </ul>
    </section>
    {{/each}}
</div>
