<div class="half-w left">
<h2 class="left">
    <span class="heavy">448</span> Live Instant Answers
</h2>
    <div class="btn--primary right"><a href="/ia">See All</a></div>
    <span class="clearfix"></span>
    
    <ul class="iap-list">
        {{#each live}}
            <li class="ia-item">
              <div class="ia_dev_milestone-{{dev_milestone}} ia_repo-{{repo}} ia-item__container">
                    
                <div class="left ia-item--stamp circle stamp--{{repo}}"></div>
                <h3 class="left ia-item--header"><a href="/ia/view/{{id}}">{{name}}</a></h3>
                <span class="clearfix"></span>
              </div>
            </li>
        {{/each}}
    </ul>
</div>

<div class="half-w right">
<h2 class="left">
    <span class="heavy">53</span> New Instant Answers
</h2>
    <div class="btn--primary right"><a href="/ia/pipeline/dev">See All</a></div>
    <span class="clearfix"></span>
    
    <ul class="iap-list">
        {{#each development}}
            <li class="ia-item">
              <div class="ia_dev_milestone-{{dev_milestone}} ia_repo-{{repo}} ia-item__container">
                    
                <div class="left ia-item--stamp circle stamp--{{repo}}"></div>
                <h3 class="left ia-item--header"><a href="/ia/view/{{id}}">{{name}}</a></h3>
                <span class="clearfix"></span>
              </div>
            </li>
        {{/each}}
    </ul>
</div>
