<div class="dev_milestone-container container-planning" id="planning">
    <div class="dev_milestone-container__header container-planning__header">
        <h3 class="dev_milestone-container__header__title">
            Planning
        </h3>
    </div>

    <div class="dev_milestone-container__body container-planning__body">
        <div class="dev_milestone-container__body__label ia-single--header">
            REPO
        </div>
        {{#unless future.planning}}
            {{#if permissions.can_edit}}
                <input type="text" class="dev_milestone-container__body__input js-autocommit" id="repo-input" value="{{live.repo}}" />
            {{else}}
                <div class="dev_milestone-container__body__readonly" id="repo-txt">
                    {{live.repo}}
                </div>
            {{/if}}
        {{/unless}}

        <div class="dev_milestone-container__body__label ia-single--header">
            EXAMPLE QUERY
        </div>
        {{#unless future.planning}}
            {{#if permissions.can_edit}}
                <input type="text" class="dev_milestone-container__body__input js-autocommit" id="example_query-input" value="{{live.example_query}}" />
            {{else}}
                <div class="dev_milestone-container__body__readonly" id="example_query-txt">
                    {{live.example_query}}
                </div>
            {{/if}}
        {{/unless}}

        <div class="dev_milestone-container__body__label ia-single--header">
            API DOCUMENTATION
        </div>
        {{#unless future.planning}}
            {{#if permissions.can_edit}}
                <input type="text" class="dev_milestone-container__body__input js-autocommit" id="src_api_documentation-input" value="{{live.src_api_docs}}" />
            {{else}}
                <div class="dev_milestone-container__body__readonly" id="src_api_documentation-txt">
                    {{live.src_api_docs}}
                </div>
            {{/if}}
        {{/unless}}

        <div class="dev_milestone-container__body__label ia-single--header">
            SAFE SEARCH
        </div>
        {{#unless future.planning}}
            <i class="dev_milestone-container__body__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#unless live.unsafe}}-empty{{/unless}}" id="unsafe-check"/>
            <span class="dev_milestone-container__body__readonly" id="check-txt">
                Unsafe
            </span>
        {{/unless}}

        {{#if permissions.admin}}
            {{#if current.planning}}
                <div class="dev_milestone-container__body__complete js-complete button" id="complete-planning">
                    Mark as complete
                </div>
            {{/if}}
        {{/if}}
    </div>
</div>
