<div class="row-diff" id="row-diff-maintainer">
    <div class="column-left-labels left">
        <div class="column-left-labels__child">
            <p class="column-left-labels__child__p">
                Maintainer
            </p>
        </div>
    </div>
    <div class="column-center-live left">
        <div class="column-center-live__child">
            <p class="column-center-live__child__p">
                {{#if live.maintainer}}
                    {{#if live.maintainer.github}}
                        <a href="https://github.com/{{live.maintainer.github}}">{{live.maintainer.github}}</a>
                    {{else}}
                        —
                    {{/if}}
                {{else}}
                    —
                {{/if}}
            </p>
        </div>
    </div>
    <div class="column-right-edits left" id="column-edits-maintainer">
        <div class="column-right-edits__child">
            <p class="column-right-edits__child__p">
                {{#if edited.maintainer}}
                    {{#if edited.maintainer.github}}
                        <a href="https://github.com/{{edited.maintainer.github}}">{{edited.maintainer.github}}</a>
                    {{/if}}
                {{/if}}
            </p>
        </div>
    </div>

    <div class="button js-pre-editable" name="maintainer">
        <i class="js-pre-editable__icon icon-edit"></i>
        <span class="js-pre-editable__text">Edit</span>
    </div>

    <div class="button hide js-editable" name="maintainer">
        <i class="js-editable__icon icon-check"></i>
        <span class="js-editable__text">Done</span>
    </div>
</div>
