<div class="column-left-labels left">
    <div class="column-left-labels__child">
        <p class="column-left-labels__child__p">
            Examples
        </p>
    </div>
</div>
<div class="column-center-live left">
    <div class="column-center-live__child">
        <ul class="column-center-live__child__ul">
            {{#if live.example_query}}
                <li class="editpage">
                    <span title="try this example on DuckDuckGo" name="example_query" class="pre_edit" id="primary">{{example_query}}</span>
                </li>
            {{/if}}
            {{#if live.other_queries}}
                {{#each live.other_queries}}
                    <li class="editpage">
                        <span title="try this example on DuckDuckGo" name="other_queries" class="pre_edit other-examples">{{this}}</span>
                    </li>
                {{/each}}
            {{/if}}
        </ul>
    </div>
</div>
<div class="column-right-edits left">
    <div class="column-right-edits__child js-pre-editable" id="examples">
        <ul class="column-center-live__child__ul">
            {{#if edited.example_query}}
                <li class="editpage">
                    <span title="try this example on DuckDuckGo" name="example_query" class="pre_edit" id="primary">{{edited.example_query}}</span>
                </li>
            {{else}}
                <li class="empty_field pre_edit" name="example_query">
                    Add example
                </li>
            {{/if}}
            {{#if edited.other_queries}}
                {{#each edited.other_queries}}
                    <li class="editpage">
                        <span title="try this example on DuckDuckGo" name="other_queries" class="pre_edit other-examples">{{this}}</span>
                    </li>
                {{/each}}
            {{/if}}
        </ul>
    </div>
</div>

<span class="clearfix"></span>
