<div class="row-diff" id="row-diff-developer">
    <div class="column-left-labels left">
        <div class="column-left-labels__child">
            <p class="column-left-labels__child__p">
                Developer
            </p>
        </div>
    </div>
    <div class="column-center-live left">
        <div class="column-center-live__child">
            <ul class="column-center-live__child__ul">
                {{#if live.developer}}
                    {{#each live.developer}}
                        <li class="editpage">
                            <span name="developer" class="pre_edit other-examples">
                                <a {{#eq type 'github'}}href="https://duckduckhack.com/u/{{slug name}}" class="userpage-link"{{else}}href="{{url}}"{{/eq}}>
                                    {{name}}
                                </a>
                            </span>
                        </li>
                    {{/each}}
                {{else}}
                    —
                {{/if}}
            </ul>
        </div>
    </div>
    <div class="column-right-edits left" id="column-edits-developer">
        <div class="column-right-edits__child" id="examples">
            <ul class="column-center-live__child__ul">
                {{#if edited.developer}}
                    {{#each edited.developer}}
                        <li class="editpage">
                            <span name="developer" class="pre_edit other-examples">
                                <a {{#eq type 'github'}}href="https://duckduckhack.com/u/{{slug name}}" class="userpage-link"{{else}}href="{{url}}"{{/eq}}>
                                    {{name}}
                                </a>
                            </span>
                        </li>
                    {{/each}}
                {{/if}}
            </ul>
        </div>
    </div>

    <div class="button js-pre-editable" name="developer">
        <i class="js-pre-editable__icon icon-edit"></i>
        <span class="js-pre-editable__text">Edit</span>
    </div>

    <div class="button hide js-editable" name="developer">
        <i class="js-editable__icon icon-check"></i>
        <span class="js-editable__text">Done</span>
    </div>
</div>
