{{#if topic}}
    <span class="sep--after">
        Categories:
        {{#each topic}}
            <a href="/ia?&topic={{urify this}}">
                {{this}}{{#unless @last}}, {{/unless}}
            </a>
        {{/each}}
    </span>
{{/if}}

{{#if repo}}
    <span class="sep--after">
        Type: <a href="/ia?&repo={{repo}}">{{repo}}</a>
    </span>
{{/if}}

{{#if dev_milestone}}
    <span>
        Status: {{dev_milestone}}
    </span>
{{/if}}
